# <b>Preprocessing</b>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# List the dataframe's data types.
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [3]:
# Find any null values.
for column in application_df.columns:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values.")

Column EIN has 0 null values.
Column NAME has 0 null values.
Column APPLICATION_TYPE has 0 null values.
Column AFFILIATION has 0 null values.
Column CLASSIFICATION has 0 null values.
Column USE_CASE has 0 null values.
Column ORGANIZATION has 0 null values.
Column STATUS has 0 null values.
Column INCOME_AMT has 0 null values.
Column SPECIAL_CONSIDERATIONS has 0 null values.
Column ASK_AMT has 0 null values.
Column IS_SUCCESSFUL has 0 null values.

In [4]:
# Find any duplicate values.
print(f"Duplicate entries: {application_df.duplicated().sum()}")

Duplicate entries: 0

In [5]:
# Drop the non-beneficial ID column 'EIN' and "NAME".
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [7]:
# Look at APPLICATION_TYPE value counts for binning
counts_application_for_binning = application_df["APPLICATION_TYPE"].value_counts()
counts_application_for_binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_application_for_binning[counts_application_for_binning<25].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
counts_class_for_binning = application_df["CLASSIFICATION"].value_counts()
counts_class_for_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_class = counts_class_for_binning[counts_class_for_binning>1]
counts_class.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name 'classifications_to_replace`
classifications_to_replace = list(counts_class_for_binning[counts_class_for_binning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with 'pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# <b>Compile, Train, and Evaluate the Model</b>

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1 = 10
hidden_nodes2 = 20
hidden_nodes3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                530

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 30)                630

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,411
Trainable params: 1,411
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15,epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5818 - accuracy: 0.7114 - val_loss: 0.5485 - val_accuracy: 0.7370
Epoch 2/100
684/684 [==============================] - 0s 680us/step - loss: 0.5604 - accuracy: 0.7259 - val_loss: 0.5490 - val_accuracy: 0.7385
Epoch 3/100
684/684 [==============================] - 0s 672us/step - loss: 0.5570 - accuracy: 0.7254 - val_loss: 0.5465 - val_accuracy: 0.7328
Epoch 4/100
684/684 [==============================] - 0s 672us/step - loss: 0.5548 - accuracy: 0.7260 - val_loss: 0.5449 - val_accuracy: 0.7401
Epoch 5/100
684/684 [==============================] - 0s 674us/step - loss: 0.5534 - accuracy: 0.7286 - val_loss: 0.5460 - val_accuracy: 0.7388
Epoch 6/100
684/684 [==============================] - 0s 673us/step - loss: 0.5523 - accuracy: 0.7275 - val_loss: 0.5447 - val_accuracy: 0.7367
Epoch 7/100
684/684 [==============================] - 0s 682us/step - loss: 0.5518 - accuracy: 0.7283 - val_loss: 0.5446 - val_accuracy: 0.7385
Epoch 8/100
684/684 [==============================] - 0s 693us/step - loss: 0.5505 - accuracy: 0.7282 - val_loss: 0.5421 - val_accuracy: 0.7359
Epoch 9/100
684/684 [==============================] - 0s 678us/step - loss: 0.5503 - accuracy: 0.7280 - val_loss: 0.5432 - val_accuracy: 0.7380
Epoch 10/100
684/684 [==============================] - 0s 674us/step - loss: 0.5500 - accuracy: 0.7289 - val_loss: 0.5434 - val_accuracy: 0.7372
Epoch 11/100
684/684 [==============================] - 0s 691us/step - loss: 0.5493 - accuracy: 0.7298 - val_loss: 0.5440 - val_accuracy: 0.7341
Epoch 12/100
684/684 [==============================] - 0s 674us/step - loss: 0.5485 - accuracy: 0.7292 - val_loss: 0.5458 - val_accuracy: 0.7359
Epoch 13/100
684/684 [==============================] - 0s 674us/step - loss: 0.5479 - accuracy: 0.7301 - val_loss: 0.5422 - val_accuracy: 0.7383
Epoch 14/100
684/684 [==============================] - 0s 674us/step - loss: 0.5488 - accuracy: 0.7311 - val_loss: 0.5444 - val_accuracy: 0.7370
Epoch 15/100
684/684 [==============================] - 0s 706us/step - loss: 0.5480 - accuracy: 0.7281 - val_loss: 0.5436 - val_accuracy: 0.7372
Epoch 16/100
684/684 [==============================] - 0s 685us/step - loss: 0.5471 - accuracy: 0.7302 - val_loss: 0.5425 - val_accuracy: 0.7378
Epoch 17/100
684/684 [==============================] - 0s 675us/step - loss: 0.5467 - accuracy: 0.7305 - val_loss: 0.5494 - val_accuracy: 0.7354
Epoch 18/100
684/684 [==============================] - 0s 682us/step - loss: 0.5471 - accuracy: 0.7309 - val_loss: 0.5435 - val_accuracy: 0.7341
Epoch 19/100
684/684 [==============================] - 0s 681us/step - loss: 0.5466 - accuracy: 0.7312 - val_loss: 0.5425 - val_accuracy: 0.7380
Epoch 20/100
684/684 [==============================] - 0s 682us/step - loss: 0.5468 - accuracy: 0.7307 - val_loss: 0.5499 - val_accuracy: 0.7370
Epoch 21/100
684/684 [==============================] - 0s 673us/step - loss: 0.5461 - accuracy: 0.7317 - val_loss: 0.5452 - val_accuracy: 0.7365
Epoch 22/100
684/684 [==============================] - 0s 683us/step - loss: 0.5459 - accuracy: 0.7318 - val_loss: 0.5438 - val_accuracy: 0.7344
Epoch 23/100
684/684 [==============================] - 0s 678us/step - loss: 0.5456 - accuracy: 0.7324 - val_loss: 0.5486 - val_accuracy: 0.7357
Epoch 24/100
684/684 [==============================] - 0s 696us/step - loss: 0.5465 - accuracy: 0.7307 - val_loss: 0.5427 - val_accuracy: 0.7370
Epoch 25/100
684/684 [==============================] - 0s 679us/step - loss: 0.5459 - accuracy: 0.7321 - val_loss: 0.5438 - val_accuracy: 0.7367
Epoch 26/100
684/684 [==============================] - 0s 685us/step - loss: 0.5456 - accuracy: 0.7336 - val_loss: 0.5429 - val_accuracy: 0.7331
Epoch 27/100
684/684 [==============================] - 0s 678us/step - loss: 0.5451 - accuracy: 0.7326 - val_loss: 0.5426 - val_accuracy: 0.7349
Epoch 28/100
684/684 [==============================] - 0s 684us/step - loss: 0.5456 - accuracy: 0.7322 - val_loss: 0.5426 - val_accuracy: 0.7362
Epoch 29/100
684/684 [==============================] - 0s 694us/step - loss: 0.5449 - accuracy: 0.7327 - val_loss: 0.5484 - val_accuracy: 0.7328
Epoch 30/100
684/684 [==============================] - 0s 706us/step - loss: 0.5450 - accuracy: 0.7324 - val_loss: 0.5456 - val_accuracy: 0.7375
Epoch 31/100
684/684 [==============================] - 1s 732us/step - loss: 0.5444 - accuracy: 0.7342 - val_loss: 0.5452 - val_accuracy: 0.7297
Epoch 32/100
684/684 [==============================] - 0s 692us/step - loss: 0.5443 - accuracy: 0.7337 - val_loss: 0.5418 - val_accuracy: 0.7375
Epoch 33/100
684/684 [==============================] - 0s 695us/step - loss: 0.5443 - accuracy: 0.7334 - val_loss: 0.5446 - val_accuracy: 0.7372
Epoch 34/100
684/684 [==============================] - 0s 692us/step - loss: 0.5447 - accuracy: 0.7331 - val_loss: 0.5430 - val_accuracy: 0.7354
Epoch 35/100
684/684 [==============================] - 0s 696us/step - loss: 0.5442 - accuracy: 0.7322 - val_loss: 0.5425 - val_accuracy: 0.7357
Epoch 36/100
684/684 [==============================] - 0s 678us/step - loss: 0.5440 - accuracy: 0.7330 - val_loss: 0.5442 - val_accuracy: 0.7331
Epoch 37/100
684/684 [==============================] - 0s 678us/step - loss: 0.5437 - accuracy: 0.7336 - val_loss: 0.5431 - val_accuracy: 0.7359
Epoch 38/100
684/684 [==============================] - 0s 678us/step - loss: 0.5440 - accuracy: 0.7334 - val_loss: 0.5453 - val_accuracy: 0.7359
Epoch 39/100
684/684 [==============================] - 0s 682us/step - loss: 0.5447 - accuracy: 0.7320 - val_loss: 0.5456 - val_accuracy: 0.7315
Epoch 40/100
684/684 [==============================] - 0s 691us/step - loss: 0.5436 - accuracy: 0.7329 - val_loss: 0.5432 - val_accuracy: 0.7365
Epoch 41/100
684/684 [==============================] - 0s 692us/step - loss: 0.5438 - accuracy: 0.7323 - val_loss: 0.5422 - val_accuracy: 0.7346
Epoch 42/100
684/684 [==============================] - 0s 682us/step - loss: 0.5436 - accuracy: 0.7335 - val_loss: 0.5436 - val_accuracy: 0.7378
Epoch 43/100
684/684 [==============================] - 0s 682us/step - loss: 0.5435 - accuracy: 0.7332 - val_loss: 0.5428 - val_accuracy: 0.7375
Epoch 44/100
684/684 [==============================] - 0s 679us/step - loss: 0.5432 - accuracy: 0.7307 - val_loss: 0.5412 - val_accuracy: 0.7385
Epoch 45/100
684/684 [==============================] - 0s 702us/step - loss: 0.5437 - accuracy: 0.7335 - val_loss: 0.5429 - val_accuracy: 0.7315
Epoch 46/100
684/684 [==============================] - 0s 680us/step - loss: 0.5429 - accuracy: 0.7333 - val_loss: 0.5430 - val_accuracy: 0.7388
Epoch 47/100
684/684 [==============================] - 0s 693us/step - loss: 0.5427 - accuracy: 0.7346 - val_loss: 0.5460 - val_accuracy: 0.7370
Epoch 48/100
684/684 [==============================] - 0s 678us/step - loss: 0.5432 - accuracy: 0.7339 - val_loss: 0.5433 - val_accuracy: 0.7359
Epoch 49/100
684/684 [==============================] - 1s 740us/step - loss: 0.5430 - accuracy: 0.7338 - val_loss: 0.5434 - val_accuracy: 0.7346
Epoch 50/100
684/684 [==============================] - 0s 690us/step - loss: 0.5429 - accuracy: 0.7332 - val_loss: 0.5429 - val_accuracy: 0.7378
Epoch 51/100
684/684 [==============================] - 0s 679us/step - loss: 0.5426 - accuracy: 0.7343 - val_loss: 0.5471 - val_accuracy: 0.7362
Epoch 52/100
684/684 [==============================] - 0s 679us/step - loss: 0.5427 - accuracy: 0.7340 - val_loss: 0.5433 - val_accuracy: 0.7357
Epoch 53/100
684/684 [==============================] - 0s 690us/step - loss: 0.5427 - accuracy: 0.7327 - val_loss: 0.5409 - val_accuracy: 0.7362
Epoch 54/100
684/684 [==============================] - 0s 684us/step - loss: 0.5421 - accuracy: 0.7331 - val_loss: 0.5414 - val_accuracy: 0.7380
Epoch 55/100
684/684 [==============================] - 0s 673us/step - loss: 0.5427 - accuracy: 0.7340 - val_loss: 0.5414 - val_accuracy: 0.7380
Epoch 56/100
684/684 [==============================] - 0s 679us/step - loss: 0.5421 - accuracy: 0.7355 - val_loss: 0.5415 - val_accuracy: 0.7375
Epoch 57/100
684/684 [==============================] - 0s 679us/step - loss: 0.5424 - accuracy: 0.7342 - val_loss: 0.5419 - val_accuracy: 0.7365
Epoch 58/100
684/684 [==============================] - 0s 683us/step - loss: 0.5422 - accuracy: 0.7346 - val_loss: 0.5456 - val_accuracy: 0.7359
Epoch 59/100
684/684 [==============================] - 0s 689us/step - loss: 0.5420 - accuracy: 0.7342 - val_loss: 0.5417 - val_accuracy: 0.7378
Epoch 60/100
684/684 [==============================] - 0s 683us/step - loss: 0.5419 - accuracy: 0.7344 - val_loss: 0.5419 - val_accuracy: 0.7336
Epoch 61/100
684/684 [==============================] - 0s 677us/step - loss: 0.5420 - accuracy: 0.7330 - val_loss: 0.5408 - val_accuracy: 0.7383
Epoch 62/100
684/684 [==============================] - 0s 694us/step - loss: 0.5424 - accuracy: 0.7329 - val_loss: 0.5418 - val_accuracy: 0.7359
Epoch 63/100
684/684 [==============================] - 0s 679us/step - loss: 0.5418 - accuracy: 0.7336 - val_loss: 0.5419 - val_accuracy: 0.7378
Epoch 64/100
684/684 [==============================] - 0s 676us/step - loss: 0.5416 - accuracy: 0.7345 - val_loss: 0.5421 - val_accuracy: 0.7385
Epoch 65/100
684/684 [==============================] - 0s 691us/step - loss: 0.5416 - accuracy: 0.7336 - val_loss: 0.5412 - val_accuracy: 0.7367
Epoch 66/100
684/684 [==============================] - 0s 679us/step - loss: 0.5415 - accuracy: 0.7339 - val_loss: 0.5429 - val_accuracy: 0.7367
Epoch 67/100
684/684 [==============================] - 0s 688us/step - loss: 0.5415 - accuracy: 0.7340 - val_loss: 0.5421 - val_accuracy: 0.7370
Epoch 68/100
684/684 [==============================] - 0s 679us/step - loss: 0.5414 - accuracy: 0.7334 - val_loss: 0.5412 - val_accuracy: 0.7367
Epoch 69/100
684/684 [==============================] - 0s 682us/step - loss: 0.5414 - accuracy: 0.7346 - val_loss: 0.5432 - val_accuracy: 0.7372
Epoch 70/100
684/684 [==============================] - 0s 693us/step - loss: 0.5411 - accuracy: 0.7345 - val_loss: 0.5433 - val_accuracy: 0.7372
Epoch 71/100
684/684 [==============================] - 0s 700us/step - loss: 0.5407 - accuracy: 0.7347 - val_loss: 0.5406 - val_accuracy: 0.7385
Epoch 72/100
684/684 [==============================] - 0s 684us/step - loss: 0.5406 - accuracy: 0.7351 - val_loss: 0.5440 - val_accuracy: 0.7359
Epoch 73/100
684/684 [==============================] - 0s 684us/step - loss: 0.5411 - accuracy: 0.7343 - val_loss: 0.5411 - val_accuracy: 0.7367
Epoch 74/100
684/684 [==============================] - 0s 682us/step - loss: 0.5406 - accuracy: 0.7352 - val_loss: 0.5414 - val_accuracy: 0.7385
Epoch 75/100
684/684 [==============================] - 0s 684us/step - loss: 0.5407 - accuracy: 0.7346 - val_loss: 0.5413 - val_accuracy: 0.7372
Epoch 76/100
684/684 [==============================] - 0s 701us/step - loss: 0.5407 - accuracy: 0.7352 - val_loss: 0.5419 - val_accuracy: 0.7388
Epoch 77/100
684/684 [==============================] - 0s 677us/step - loss: 0.5404 - accuracy: 0.7359 - val_loss: 0.5422 - val_accuracy: 0.7378
Epoch 78/100
684/684 [==============================] - 0s 680us/step - loss: 0.5405 - accuracy: 0.7358 - val_loss: 0.5445 - val_accuracy: 0.7321
Epoch 79/100
684/684 [==============================] - 0s 680us/step - loss: 0.5406 - accuracy: 0.7359 - val_loss: 0.5416 - val_accuracy: 0.7367
Epoch 80/100
684/684 [==============================] - 0s 684us/step - loss: 0.5404 - accuracy: 0.7344 - val_loss: 0.5423 - val_accuracy: 0.7328
Epoch 81/100
684/684 [==============================] - 0s 692us/step - loss: 0.5402 - accuracy: 0.7352 - val_loss: 0.5408 - val_accuracy: 0.7365
Epoch 82/100
684/684 [==============================] - 0s 683us/step - loss: 0.5402 - accuracy: 0.7335 - val_loss: 0.5435 - val_accuracy: 0.7354
Epoch 83/100
684/684 [==============================] - 0s 682us/step - loss: 0.5403 - accuracy: 0.7354 - val_loss: 0.5433 - val_accuracy: 0.7354
Epoch 84/100
684/684 [==============================] - 0s 687us/step - loss: 0.5399 - accuracy: 0.7344 - val_loss: 0.5454 - val_accuracy: 0.7359
Epoch 85/100
684/684 [==============================] - 0s 684us/step - loss: 0.5401 - accuracy: 0.7359 - val_loss: 0.5425 - val_accuracy: 0.7378
Epoch 86/100
684/684 [==============================] - 0s 684us/step - loss: 0.5399 - accuracy: 0.7352 - val_loss: 0.5412 - val_accuracy: 0.7391
Epoch 87/100
684/684 [==============================] - 0s 690us/step - loss: 0.5401 - accuracy: 0.7338 - val_loss: 0.5411 - val_accuracy: 0.7383
Epoch 88/100
684/684 [==============================] - 0s 686us/step - loss: 0.5397 - accuracy: 0.7351 - val_loss: 0.5425 - val_accuracy: 0.7370
Epoch 89/100
684/684 [==============================] - 0s 678us/step - loss: 0.5397 - accuracy: 0.7359 - val_loss: 0.5427 - val_accuracy: 0.7391
Epoch 90/100
684/684 [==============================] - 0s 678us/step - loss: 0.5399 - accuracy: 0.7351 - val_loss: 0.5412 - val_accuracy: 0.7378
Epoch 91/100
684/684 [==============================] - 0s 678us/step - loss: 0.5394 - accuracy: 0.7340 - val_loss: 0.5435 - val_accuracy: 0.7305
Epoch 92/100
684/684 [==============================] - 0s 683us/step - loss: 0.5397 - accuracy: 0.7338 - val_loss: 0.5410 - val_accuracy: 0.7372
Epoch 93/100
684/684 [==============================] - 0s 713us/step - loss: 0.5392 - accuracy: 0.7356 - val_loss: 0.5433 - val_accuracy: 0.7367
Epoch 94/100
684/684 [==============================] - 0s 682us/step - loss: 0.5392 - accuracy: 0.7356 - val_loss: 0.5422 - val_accuracy: 0.7308
Epoch 95/100
684/684 [==============================] - 0s 675us/step - loss: 0.5394 - accuracy: 0.7350 - val_loss: 0.5429 - val_accuracy: 0.7367
Epoch 96/100
684/684 [==============================] - 0s 690us/step - loss: 0.5390 - accuracy: 0.7368 - val_loss: 0.5413 - val_accuracy: 0.7323
Epoch 97/100
684/684 [==============================] - 0s 682us/step - loss: 0.5394 - accuracy: 0.7368 - val_loss: 0.5434 - val_accuracy: 0.7372
Epoch 98/100
684/684 [==============================] - 0s 695us/step - loss: 0.5390 - accuracy: 0.7364 - val_loss: 0.5441 - val_accuracy: 0.7352
Epoch 99/100
684/684 [==============================] - 0s 679us/step - loss: 0.5395 - accuracy: 0.7361 - val_loss: 0.5417 - val_accuracy: 0.7370
Epoch 100/100
684/684 [==============================] - 0s 680us/step - loss: 0.5390 - accuracy: 0.7355 - val_loss: 0.5421 - val_accuracy: 0.7300

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5512 - accuracy: 0.7252 - 130ms/epoch - 483us/step
Loss: 0.5511990189552307, Accuracy: 0.7252478003501892

In [19]:
# Export our model to HDF5 file
nn.save("Output/Alphabet_Soup_Charity_Optimization_With_TanH.h5")

### <b> Model Accuracy Does NOT Meet 75% Requirement</b>