# <b>Preprocessing</b>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# List the dataframe's data types.
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [3]:
# Find any null values.
for column in application_df.columns:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values.")

Column EIN has 0 null values.
Column NAME has 0 null values.
Column APPLICATION_TYPE has 0 null values.
Column AFFILIATION has 0 null values.
Column CLASSIFICATION has 0 null values.
Column USE_CASE has 0 null values.
Column ORGANIZATION has 0 null values.
Column STATUS has 0 null values.
Column INCOME_AMT has 0 null values.
Column SPECIAL_CONSIDERATIONS has 0 null values.
Column ASK_AMT has 0 null values.
Column IS_SUCCESSFUL has 0 null values.

In [4]:
# Find any duplicate values.
print(f"Duplicate entries: {application_df.duplicated().sum()}")

Duplicate entries: 0

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [7]:
# Look at APPLICATION_TYPE value counts for binning
counts_application_for_binning = application_df["APPLICATION_TYPE"].value_counts()
counts_application_for_binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_application_for_binning[counts_application_for_binning<25].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
counts_class_for_binning = application_df["CLASSIFICATION"].value_counts()
counts_class_for_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_class = counts_class_for_binning[counts_class_for_binning>1]
counts_class.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts_class_for_binning[counts_class_for_binning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# <b>Compile, Train, and Evaluate the Model</b>

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1 = 10
hidden_nodes2 = 20
hidden_nodes3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                530

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 30)                630

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,411
Trainable params: 1,411
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15,epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5937 - accuracy: 0.6977 - val_loss: 0.5568 - val_accuracy: 0.7318
Epoch 2/100
684/684 [==============================] - 0s 690us/step - loss: 0.5621 - accuracy: 0.7269 - val_loss: 0.5495 - val_accuracy: 0.7334
Epoch 3/100
684/684 [==============================] - 0s 687us/step - loss: 0.5573 - accuracy: 0.7274 - val_loss: 0.5494 - val_accuracy: 0.7344
Epoch 4/100
684/684 [==============================] - 0s 686us/step - loss: 0.5550 - accuracy: 0.7263 - val_loss: 0.5475 - val_accuracy: 0.7336
Epoch 5/100
684/684 [==============================] - 0s 685us/step - loss: 0.5536 - accuracy: 0.7272 - val_loss: 0.5492 - val_accuracy: 0.7359
Epoch 6/100
684/684 [==============================] - 0s 689us/step - loss: 0.5514 - accuracy: 0.7275 - val_loss: 0.5490 - val_accuracy: 0.7367
Epoch 7/100
684/684 [==============================] - 0s 699us/step - loss: 0.5509 - accuracy: 0.7280 - val_loss: 0.5472 - val_accuracy: 0.7344
Epoch 8/100
684/684 [==============================] - 0s 688us/step - loss: 0.5498 - accuracy: 0.7285 - val_loss: 0.5446 - val_accuracy: 0.7297
Epoch 9/100
684/684 [==============================] - 0s 687us/step - loss: 0.5495 - accuracy: 0.7286 - val_loss: 0.5463 - val_accuracy: 0.7354
Epoch 10/100
684/684 [==============================] - 0s 687us/step - loss: 0.5487 - accuracy: 0.7293 - val_loss: 0.5441 - val_accuracy: 0.7372
Epoch 11/100
684/684 [==============================] - 0s 692us/step - loss: 0.5484 - accuracy: 0.7298 - val_loss: 0.5453 - val_accuracy: 0.7354
Epoch 12/100
684/684 [==============================] - 0s 692us/step - loss: 0.5477 - accuracy: 0.7293 - val_loss: 0.5464 - val_accuracy: 0.7365
Epoch 13/100
684/684 [==============================] - 0s 687us/step - loss: 0.5475 - accuracy: 0.7310 - val_loss: 0.5454 - val_accuracy: 0.7352
Epoch 14/100
684/684 [==============================] - 0s 695us/step - loss: 0.5468 - accuracy: 0.7302 - val_loss: 0.5436 - val_accuracy: 0.7344
Epoch 15/100
684/684 [==============================] - 0s 690us/step - loss: 0.5466 - accuracy: 0.7303 - val_loss: 0.5441 - val_accuracy: 0.7346
Epoch 16/100
684/684 [==============================] - 0s 708us/step - loss: 0.5462 - accuracy: 0.7306 - val_loss: 0.5436 - val_accuracy: 0.7344
Epoch 17/100
684/684 [==============================] - 0s 693us/step - loss: 0.5460 - accuracy: 0.7304 - val_loss: 0.5433 - val_accuracy: 0.7352
Epoch 18/100
684/684 [==============================] - 0s 688us/step - loss: 0.5456 - accuracy: 0.7314 - val_loss: 0.5433 - val_accuracy: 0.7354
Epoch 19/100
684/684 [==============================] - 0s 692us/step - loss: 0.5458 - accuracy: 0.7302 - val_loss: 0.5450 - val_accuracy: 0.7313
Epoch 20/100
684/684 [==============================] - 0s 700us/step - loss: 0.5449 - accuracy: 0.7317 - val_loss: 0.5457 - val_accuracy: 0.7321
Epoch 21/100
684/684 [==============================] - 0s 687us/step - loss: 0.5449 - accuracy: 0.7319 - val_loss: 0.5430 - val_accuracy: 0.7357
Epoch 22/100
684/684 [==============================] - 0s 689us/step - loss: 0.5440 - accuracy: 0.7323 - val_loss: 0.5447 - val_accuracy: 0.7339
Epoch 23/100
684/684 [==============================] - 0s 690us/step - loss: 0.5440 - accuracy: 0.7317 - val_loss: 0.5411 - val_accuracy: 0.7344
Epoch 24/100
684/684 [==============================] - 0s 688us/step - loss: 0.5438 - accuracy: 0.7334 - val_loss: 0.5440 - val_accuracy: 0.7354
Epoch 25/100
684/684 [==============================] - 0s 727us/step - loss: 0.5439 - accuracy: 0.7324 - val_loss: 0.5482 - val_accuracy: 0.7346
Epoch 26/100
684/684 [==============================] - 0s 709us/step - loss: 0.5437 - accuracy: 0.7326 - val_loss: 0.5423 - val_accuracy: 0.7331
Epoch 27/100
684/684 [==============================] - 0s 699us/step - loss: 0.5436 - accuracy: 0.7332 - val_loss: 0.5435 - val_accuracy: 0.7328
Epoch 28/100
684/684 [==============================] - 0s 692us/step - loss: 0.5432 - accuracy: 0.7332 - val_loss: 0.5423 - val_accuracy: 0.7362
Epoch 29/100
684/684 [==============================] - 0s 686us/step - loss: 0.5429 - accuracy: 0.7332 - val_loss: 0.5474 - val_accuracy: 0.7287
Epoch 30/100
684/684 [==============================] - 0s 686us/step - loss: 0.5431 - accuracy: 0.7335 - val_loss: 0.5426 - val_accuracy: 0.7352
Epoch 31/100
684/684 [==============================] - 0s 685us/step - loss: 0.5427 - accuracy: 0.7335 - val_loss: 0.5430 - val_accuracy: 0.7305
Epoch 32/100
684/684 [==============================] - 0s 696us/step - loss: 0.5428 - accuracy: 0.7328 - val_loss: 0.5443 - val_accuracy: 0.7367
Epoch 33/100
684/684 [==============================] - 0s 690us/step - loss: 0.5423 - accuracy: 0.7340 - val_loss: 0.5422 - val_accuracy: 0.7336
Epoch 34/100
684/684 [==============================] - 0s 690us/step - loss: 0.5423 - accuracy: 0.7348 - val_loss: 0.5429 - val_accuracy: 0.7352
Epoch 35/100
684/684 [==============================] - 0s 687us/step - loss: 0.5418 - accuracy: 0.7341 - val_loss: 0.5437 - val_accuracy: 0.7349
Epoch 36/100
684/684 [==============================] - 0s 702us/step - loss: 0.5418 - accuracy: 0.7340 - val_loss: 0.5435 - val_accuracy: 0.7336
Epoch 37/100
684/684 [==============================] - 0s 685us/step - loss: 0.5419 - accuracy: 0.7346 - val_loss: 0.5427 - val_accuracy: 0.7336
Epoch 38/100
684/684 [==============================] - 0s 698us/step - loss: 0.5415 - accuracy: 0.7341 - val_loss: 0.5451 - val_accuracy: 0.7321
Epoch 39/100
684/684 [==============================] - 0s 684us/step - loss: 0.5415 - accuracy: 0.7345 - val_loss: 0.5434 - val_accuracy: 0.7318
Epoch 40/100
684/684 [==============================] - 0s 695us/step - loss: 0.5416 - accuracy: 0.7336 - val_loss: 0.5420 - val_accuracy: 0.7359
Epoch 41/100
684/684 [==============================] - 0s 711us/step - loss: 0.5410 - accuracy: 0.7333 - val_loss: 0.5417 - val_accuracy: 0.7352
Epoch 42/100
684/684 [==============================] - 0s 694us/step - loss: 0.5409 - accuracy: 0.7351 - val_loss: 0.5440 - val_accuracy: 0.7331
Epoch 43/100
684/684 [==============================] - 0s 699us/step - loss: 0.5413 - accuracy: 0.7328 - val_loss: 0.5424 - val_accuracy: 0.7357
Epoch 44/100
684/684 [==============================] - 0s 694us/step - loss: 0.5407 - accuracy: 0.7349 - val_loss: 0.5428 - val_accuracy: 0.7336
Epoch 45/100
684/684 [==============================] - 0s 698us/step - loss: 0.5406 - accuracy: 0.7338 - val_loss: 0.5475 - val_accuracy: 0.7336
Epoch 46/100
684/684 [==============================] - 0s 691us/step - loss: 0.5414 - accuracy: 0.7351 - val_loss: 0.5463 - val_accuracy: 0.7326
Epoch 47/100
684/684 [==============================] - 0s 688us/step - loss: 0.5407 - accuracy: 0.7351 - val_loss: 0.5439 - val_accuracy: 0.7359
Epoch 48/100
684/684 [==============================] - 0s 687us/step - loss: 0.5407 - accuracy: 0.7337 - val_loss: 0.5426 - val_accuracy: 0.7357
Epoch 49/100
684/684 [==============================] - 0s 702us/step - loss: 0.5403 - accuracy: 0.7352 - val_loss: 0.5414 - val_accuracy: 0.7349
Epoch 50/100
684/684 [==============================] - 0s 698us/step - loss: 0.5402 - accuracy: 0.7354 - val_loss: 0.5437 - val_accuracy: 0.7352
Epoch 51/100
684/684 [==============================] - 0s 689us/step - loss: 0.5403 - accuracy: 0.7351 - val_loss: 0.5424 - val_accuracy: 0.7354
Epoch 52/100
684/684 [==============================] - 0s 689us/step - loss: 0.5392 - accuracy: 0.7346 - val_loss: 0.5435 - val_accuracy: 0.7370
Epoch 53/100
684/684 [==============================] - 0s 687us/step - loss: 0.5402 - accuracy: 0.7355 - val_loss: 0.5443 - val_accuracy: 0.7357
Epoch 54/100
684/684 [==============================] - 0s 702us/step - loss: 0.5398 - accuracy: 0.7343 - val_loss: 0.5439 - val_accuracy: 0.7359
Epoch 55/100
684/684 [==============================] - 0s 693us/step - loss: 0.5400 - accuracy: 0.7338 - val_loss: 0.5417 - val_accuracy: 0.7359
Epoch 56/100
684/684 [==============================] - 0s 686us/step - loss: 0.5398 - accuracy: 0.7359 - val_loss: 0.5421 - val_accuracy: 0.7378
Epoch 57/100
684/684 [==============================] - 0s 688us/step - loss: 0.5396 - accuracy: 0.7352 - val_loss: 0.5426 - val_accuracy: 0.7313
Epoch 58/100
684/684 [==============================] - 0s 693us/step - loss: 0.5390 - accuracy: 0.7358 - val_loss: 0.5446 - val_accuracy: 0.7362
Epoch 59/100
684/684 [==============================] - 0s 692us/step - loss: 0.5395 - accuracy: 0.7355 - val_loss: 0.5430 - val_accuracy: 0.7336
Epoch 60/100
684/684 [==============================] - 0s 686us/step - loss: 0.5394 - accuracy: 0.7349 - val_loss: 0.5444 - val_accuracy: 0.7359
Epoch 61/100
684/684 [==============================] - 0s 694us/step - loss: 0.5395 - accuracy: 0.7355 - val_loss: 0.5433 - val_accuracy: 0.7367
Epoch 62/100
684/684 [==============================] - 0s 689us/step - loss: 0.5392 - accuracy: 0.7343 - val_loss: 0.5461 - val_accuracy: 0.7326
Epoch 63/100
684/684 [==============================] - 0s 694us/step - loss: 0.5389 - accuracy: 0.7363 - val_loss: 0.5432 - val_accuracy: 0.7305
Epoch 64/100
684/684 [==============================] - 0s 694us/step - loss: 0.5392 - accuracy: 0.7357 - val_loss: 0.5431 - val_accuracy: 0.7323
Epoch 65/100
684/684 [==============================] - 0s 712us/step - loss: 0.5391 - accuracy: 0.7351 - val_loss: 0.5454 - val_accuracy: 0.7315
Epoch 66/100
684/684 [==============================] - 0s 696us/step - loss: 0.5386 - accuracy: 0.7342 - val_loss: 0.5425 - val_accuracy: 0.7339
Epoch 67/100
684/684 [==============================] - 0s 700us/step - loss: 0.5390 - accuracy: 0.7362 - val_loss: 0.5422 - val_accuracy: 0.7341
Epoch 68/100
684/684 [==============================] - 0s 687us/step - loss: 0.5388 - accuracy: 0.7364 - val_loss: 0.5436 - val_accuracy: 0.7362
Epoch 69/100
684/684 [==============================] - 0s 690us/step - loss: 0.5385 - accuracy: 0.7364 - val_loss: 0.5426 - val_accuracy: 0.7349
Epoch 70/100
684/684 [==============================] - 0s 687us/step - loss: 0.5385 - accuracy: 0.7366 - val_loss: 0.5436 - val_accuracy: 0.7362
Epoch 71/100
684/684 [==============================] - 0s 707us/step - loss: 0.5383 - accuracy: 0.7356 - val_loss: 0.5453 - val_accuracy: 0.7352
Epoch 72/100
684/684 [==============================] - 0s 710us/step - loss: 0.5383 - accuracy: 0.7360 - val_loss: 0.5431 - val_accuracy: 0.7357
Epoch 73/100
684/684 [==============================] - 0s 710us/step - loss: 0.5382 - accuracy: 0.7368 - val_loss: 0.5444 - val_accuracy: 0.7349
Epoch 74/100
684/684 [==============================] - 0s 688us/step - loss: 0.5383 - accuracy: 0.7363 - val_loss: 0.5412 - val_accuracy: 0.7331
Epoch 75/100
684/684 [==============================] - 0s 688us/step - loss: 0.5381 - accuracy: 0.7349 - val_loss: 0.5425 - val_accuracy: 0.7354
Epoch 76/100
684/684 [==============================] - 0s 700us/step - loss: 0.5384 - accuracy: 0.7361 - val_loss: 0.5437 - val_accuracy: 0.7365
Epoch 77/100
684/684 [==============================] - 0s 692us/step - loss: 0.5382 - accuracy: 0.7360 - val_loss: 0.5419 - val_accuracy: 0.7367
Epoch 78/100
684/684 [==============================] - 0s 686us/step - loss: 0.5384 - accuracy: 0.7376 - val_loss: 0.5450 - val_accuracy: 0.7334
Epoch 79/100
684/684 [==============================] - 0s 687us/step - loss: 0.5380 - accuracy: 0.7349 - val_loss: 0.5447 - val_accuracy: 0.7346
Epoch 80/100
684/684 [==============================] - 0s 700us/step - loss: 0.5382 - accuracy: 0.7356 - val_loss: 0.5439 - val_accuracy: 0.7359
Epoch 81/100
684/684 [==============================] - 0s 701us/step - loss: 0.5377 - accuracy: 0.7346 - val_loss: 0.5452 - val_accuracy: 0.7359
Epoch 82/100
684/684 [==============================] - 0s 705us/step - loss: 0.5378 - accuracy: 0.7373 - val_loss: 0.5439 - val_accuracy: 0.7315
Epoch 83/100
684/684 [==============================] - 0s 697us/step - loss: 0.5376 - accuracy: 0.7372 - val_loss: 0.5414 - val_accuracy: 0.7375
Epoch 84/100
684/684 [==============================] - 0s 693us/step - loss: 0.5376 - accuracy: 0.7367 - val_loss: 0.5445 - val_accuracy: 0.7344
Epoch 85/100
684/684 [==============================] - 0s 694us/step - loss: 0.5375 - accuracy: 0.7367 - val_loss: 0.5444 - val_accuracy: 0.7359
Epoch 86/100
684/684 [==============================] - 0s 691us/step - loss: 0.5379 - accuracy: 0.7367 - val_loss: 0.5432 - val_accuracy: 0.7349
Epoch 87/100
684/684 [==============================] - 0s 692us/step - loss: 0.5374 - accuracy: 0.7367 - val_loss: 0.5425 - val_accuracy: 0.7328
Epoch 88/100
684/684 [==============================] - 0s 694us/step - loss: 0.5375 - accuracy: 0.7344 - val_loss: 0.5422 - val_accuracy: 0.7346
Epoch 89/100
684/684 [==============================] - 0s 706us/step - loss: 0.5373 - accuracy: 0.7362 - val_loss: 0.5431 - val_accuracy: 0.7339
Epoch 90/100
684/684 [==============================] - 0s 691us/step - loss: 0.5370 - accuracy: 0.7375 - val_loss: 0.5456 - val_accuracy: 0.7352
Epoch 91/100
684/684 [==============================] - 0s 690us/step - loss: 0.5374 - accuracy: 0.7368 - val_loss: 0.5436 - val_accuracy: 0.7344
Epoch 92/100
684/684 [==============================] - 0s 685us/step - loss: 0.5368 - accuracy: 0.7358 - val_loss: 0.5438 - val_accuracy: 0.7352
Epoch 93/100
684/684 [==============================] - 0s 708us/step - loss: 0.5369 - accuracy: 0.7367 - val_loss: 0.5442 - val_accuracy: 0.7380
Epoch 94/100
684/684 [==============================] - 0s 690us/step - loss: 0.5368 - accuracy: 0.7360 - val_loss: 0.5424 - val_accuracy: 0.7378
Epoch 95/100
684/684 [==============================] - 0s 687us/step - loss: 0.5373 - accuracy: 0.7351 - val_loss: 0.5431 - val_accuracy: 0.7359
Epoch 96/100
684/684 [==============================] - 0s 692us/step - loss: 0.5369 - accuracy: 0.7365 - val_loss: 0.5431 - val_accuracy: 0.7365
Epoch 97/100
684/684 [==============================] - 0s 690us/step - loss: 0.5366 - accuracy: 0.7373 - val_loss: 0.5439 - val_accuracy: 0.7354
Epoch 98/100
684/684 [==============================] - 0s 700us/step - loss: 0.5364 - accuracy: 0.7363 - val_loss: 0.5442 - val_accuracy: 0.7367
Epoch 99/100
684/684 [==============================] - 0s 695us/step - loss: 0.5370 - accuracy: 0.7374 - val_loss: 0.5430 - val_accuracy: 0.7346
Epoch 100/100
684/684 [==============================] - 0s 689us/step - loss: 0.5372 - accuracy: 0.7378 - val_loss: 0.5424 - val_accuracy: 0.7372

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5540 - accuracy: 0.7292 - 128ms/epoch - 477us/step
Loss: 0.5540000796318054, Accuracy: 0.7292128205299377

In [19]:
# Export our model to HDF5 file
nn.save("Output/Alphabet_Soup_Charity_Optimization.h5")

### <b> Model Accuracy Does NOT Meet 75% Requirement</b>

# <b>2nd Attempt - Organization and Income_Amt</b>

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# List the dataframe's data types.
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [22]:
# Find any null values.
for column in application_df.columns:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values.")

Column EIN has 0 null values.
Column NAME has 0 null values.
Column APPLICATION_TYPE has 0 null values.
Column AFFILIATION has 0 null values.
Column CLASSIFICATION has 0 null values.
Column USE_CASE has 0 null values.
Column ORGANIZATION has 0 null values.
Column STATUS has 0 null values.
Column INCOME_AMT has 0 null values.
Column SPECIAL_CONSIDERATIONS has 0 null values.
Column ASK_AMT has 0 null values.
Column IS_SUCCESSFUL has 0 null values.

In [23]:
# Find any duplicate values.
print(f"Duplicate entries: {application_df.duplicated().sum()}")

Duplicate entries: 0

In [24]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [25]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [26]:
# Look at ORGANIZATION value counts for binning
counts_organization_for_binning = application_df["ORGANIZATION"].value_counts()
counts_organization_for_binning

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [27]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
organization_to_replace = list(counts_organization_for_binning[counts_organization_for_binning<500].index)
organization_to_replace

# Replace in dataframe
for app in organization_to_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(app,"Other")

# Check to make sure binning was successful
application_df['ORGANIZATION'].value_counts()

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [28]:
# Look at INCOME_AMT value counts for binning
counts_income_amt_for_binning = application_df["INCOME_AMT"].value_counts()
counts_income_amt_for_binning

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [29]:
# Choose a cutoff value and create a list of income_amt to be replaced
# use the variable name 'income_amt_to_replace`
income_amt_to_replace = list(counts_income_amt_for_binning[counts_income_amt_for_binning<500].index)
income_amt_to_replace

# Replace in dataframe
for amt in income_amt_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(amt,"Other")
    
# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
Other              564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [30]:
# Convert categorical data to numeric with 'pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [31]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# <b>2nd Attempt - Compile, Train, and Evaluate the Model</b>

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1 = 10
hidden_nodes2 = 20
hidden_nodes3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 10)                1140

 dense_5 (Dense)             (None, 20)                220

 dense_6 (Dense)             (None, 30)                630

 dense_7 (Dense)             (None, 1)                 31

=================================================================
Total params: 2,021
Trainable params: 2,021
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [35]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15,epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 837us/step - loss: 0.5946 - accuracy: 0.6995 - val_loss: 0.5605 - val_accuracy: 0.7372
Epoch 2/100
684/684 [==============================] - 0s 695us/step - loss: 0.5610 - accuracy: 0.7236 - val_loss: 0.5568 - val_accuracy: 0.7391
Epoch 3/100
684/684 [==============================] - 0s 698us/step - loss: 0.5545 - accuracy: 0.7281 - val_loss: 0.5550 - val_accuracy: 0.7383
Epoch 4/100
684/684 [==============================] - 0s 690us/step - loss: 0.5522 - accuracy: 0.7299 - val_loss: 0.5536 - val_accuracy: 0.7396
Epoch 5/100
684/684 [==============================] - 0s 698us/step - loss: 0.5507 - accuracy: 0.7304 - val_loss: 0.5517 - val_accuracy: 0.7398
Epoch 6/100
684/684 [==============================] - 0s 691us/step - loss: 0.5497 - accuracy: 0.7295 - val_loss: 0.5537 - val_accuracy: 0.7385
Epoch 7/100
684/684 [==============================] - 0s 706us/step - loss: 0.5485 - accuracy: 0.7289 - val_loss: 0.5554 - val_accuracy: 0.7383
Epoch 8/100
684/684 [==============================] - 0s 690us/step - loss: 0.5479 - accuracy: 0.7303 - val_loss: 0.5542 - val_accuracy: 0.7391
Epoch 9/100
684/684 [==============================] - 0s 689us/step - loss: 0.5473 - accuracy: 0.7307 - val_loss: 0.5509 - val_accuracy: 0.7388
Epoch 10/100
684/684 [==============================] - 0s 704us/step - loss: 0.5471 - accuracy: 0.7324 - val_loss: 0.5510 - val_accuracy: 0.7378
Epoch 11/100
684/684 [==============================] - 0s 685us/step - loss: 0.5466 - accuracy: 0.7319 - val_loss: 0.5518 - val_accuracy: 0.7367
Epoch 12/100
684/684 [==============================] - 0s 707us/step - loss: 0.5457 - accuracy: 0.7324 - val_loss: 0.5527 - val_accuracy: 0.7370
Epoch 13/100
684/684 [==============================] - 0s 690us/step - loss: 0.5458 - accuracy: 0.7333 - val_loss: 0.5544 - val_accuracy: 0.7375
Epoch 14/100
684/684 [==============================] - 0s 693us/step - loss: 0.5451 - accuracy: 0.7343 - val_loss: 0.5527 - val_accuracy: 0.7375
Epoch 15/100
684/684 [==============================] - 0s 691us/step - loss: 0.5442 - accuracy: 0.7333 - val_loss: 0.5542 - val_accuracy: 0.7385
Epoch 16/100
684/684 [==============================] - 0s 712us/step - loss: 0.5442 - accuracy: 0.7335 - val_loss: 0.5541 - val_accuracy: 0.7370
Epoch 17/100
684/684 [==============================] - 0s 700us/step - loss: 0.5433 - accuracy: 0.7344 - val_loss: 0.5553 - val_accuracy: 0.7385
Epoch 18/100
684/684 [==============================] - 0s 692us/step - loss: 0.5435 - accuracy: 0.7340 - val_loss: 0.5565 - val_accuracy: 0.7339
Epoch 19/100
684/684 [==============================] - 0s 690us/step - loss: 0.5431 - accuracy: 0.7344 - val_loss: 0.5579 - val_accuracy: 0.7349
Epoch 20/100
684/684 [==============================] - 0s 697us/step - loss: 0.5432 - accuracy: 0.7346 - val_loss: 0.5565 - val_accuracy: 0.7378
Epoch 21/100
684/684 [==============================] - 0s 693us/step - loss: 0.5423 - accuracy: 0.7341 - val_loss: 0.5567 - val_accuracy: 0.7354
Epoch 22/100
684/684 [==============================] - 0s 689us/step - loss: 0.5424 - accuracy: 0.7354 - val_loss: 0.5561 - val_accuracy: 0.7370
Epoch 23/100
684/684 [==============================] - 0s 691us/step - loss: 0.5424 - accuracy: 0.7346 - val_loss: 0.5579 - val_accuracy: 0.7362
Epoch 24/100
684/684 [==============================] - 0s 689us/step - loss: 0.5413 - accuracy: 0.7355 - val_loss: 0.5563 - val_accuracy: 0.7385
Epoch 25/100
684/684 [==============================] - 0s 697us/step - loss: 0.5410 - accuracy: 0.7357 - val_loss: 0.5588 - val_accuracy: 0.7370
Epoch 26/100
684/684 [==============================] - 0s 693us/step - loss: 0.5413 - accuracy: 0.7351 - val_loss: 0.5585 - val_accuracy: 0.7365
Epoch 27/100
684/684 [==============================] - 0s 713us/step - loss: 0.5411 - accuracy: 0.7356 - val_loss: 0.5564 - val_accuracy: 0.7346
Epoch 28/100
684/684 [==============================] - 0s 692us/step - loss: 0.5409 - accuracy: 0.7346 - val_loss: 0.5586 - val_accuracy: 0.7372
Epoch 29/100
684/684 [==============================] - 0s 709us/step - loss: 0.5406 - accuracy: 0.7352 - val_loss: 0.5566 - val_accuracy: 0.7378
Epoch 30/100
684/684 [==============================] - 0s 695us/step - loss: 0.5405 - accuracy: 0.7355 - val_loss: 0.5571 - val_accuracy: 0.7372
Epoch 31/100
684/684 [==============================] - 0s 686us/step - loss: 0.5399 - accuracy: 0.7364 - val_loss: 0.5588 - val_accuracy: 0.7357
Epoch 32/100
684/684 [==============================] - 0s 693us/step - loss: 0.5403 - accuracy: 0.7362 - val_loss: 0.5542 - val_accuracy: 0.7380
Epoch 33/100
684/684 [==============================] - 0s 692us/step - loss: 0.5399 - accuracy: 0.7357 - val_loss: 0.5585 - val_accuracy: 0.7357
Epoch 34/100
684/684 [==============================] - 0s 696us/step - loss: 0.5396 - accuracy: 0.7361 - val_loss: 0.5563 - val_accuracy: 0.7367
Epoch 35/100
684/684 [==============================] - 0s 691us/step - loss: 0.5397 - accuracy: 0.7373 - val_loss: 0.5576 - val_accuracy: 0.7375
Epoch 36/100
684/684 [==============================] - 0s 702us/step - loss: 0.5387 - accuracy: 0.7374 - val_loss: 0.5558 - val_accuracy: 0.7375
Epoch 37/100
684/684 [==============================] - 0s 692us/step - loss: 0.5394 - accuracy: 0.7360 - val_loss: 0.5627 - val_accuracy: 0.7375
Epoch 38/100
684/684 [==============================] - 0s 719us/step - loss: 0.5386 - accuracy: 0.7360 - val_loss: 0.5635 - val_accuracy: 0.7334
Epoch 39/100
684/684 [==============================] - 0s 693us/step - loss: 0.5387 - accuracy: 0.7353 - val_loss: 0.5578 - val_accuracy: 0.7339
Epoch 40/100
684/684 [==============================] - 0s 693us/step - loss: 0.5385 - accuracy: 0.7373 - val_loss: 0.5634 - val_accuracy: 0.7362
Epoch 41/100
684/684 [==============================] - 0s 689us/step - loss: 0.5387 - accuracy: 0.7358 - val_loss: 0.5621 - val_accuracy: 0.7339
Epoch 42/100
684/684 [==============================] - 0s 703us/step - loss: 0.5386 - accuracy: 0.7361 - val_loss: 0.5608 - val_accuracy: 0.7349
Epoch 43/100
684/684 [==============================] - 0s 706us/step - loss: 0.5387 - accuracy: 0.7367 - val_loss: 0.5593 - val_accuracy: 0.7323
Epoch 44/100
684/684 [==============================] - 0s 691us/step - loss: 0.5380 - accuracy: 0.7377 - val_loss: 0.5610 - val_accuracy: 0.7367
Epoch 45/100
684/684 [==============================] - 0s 692us/step - loss: 0.5379 - accuracy: 0.7372 - val_loss: 0.5602 - val_accuracy: 0.7378
Epoch 46/100
684/684 [==============================] - 0s 695us/step - loss: 0.5386 - accuracy: 0.7371 - val_loss: 0.5584 - val_accuracy: 0.7380
Epoch 47/100
684/684 [==============================] - 1s 741us/step - loss: 0.5376 - accuracy: 0.7373 - val_loss: 0.5577 - val_accuracy: 0.7391
Epoch 48/100
684/684 [==============================] - 0s 709us/step - loss: 0.5382 - accuracy: 0.7368 - val_loss: 0.5591 - val_accuracy: 0.7383
Epoch 49/100
684/684 [==============================] - 0s 701us/step - loss: 0.5382 - accuracy: 0.7371 - val_loss: 0.5608 - val_accuracy: 0.7375
Epoch 50/100
684/684 [==============================] - 0s 692us/step - loss: 0.5377 - accuracy: 0.7364 - val_loss: 0.5620 - val_accuracy: 0.7365
Epoch 51/100
684/684 [==============================] - 0s 692us/step - loss: 0.5375 - accuracy: 0.7378 - val_loss: 0.5669 - val_accuracy: 0.7385
Epoch 52/100
684/684 [==============================] - 0s 691us/step - loss: 0.5379 - accuracy: 0.7375 - val_loss: 0.5704 - val_accuracy: 0.7411
Epoch 53/100
684/684 [==============================] - 0s 688us/step - loss: 0.5375 - accuracy: 0.7379 - val_loss: 0.5626 - val_accuracy: 0.7385
Epoch 54/100
684/684 [==============================] - 0s 698us/step - loss: 0.5371 - accuracy: 0.7375 - val_loss: 0.5606 - val_accuracy: 0.7385
Epoch 55/100
684/684 [==============================] - 0s 687us/step - loss: 0.5373 - accuracy: 0.7370 - val_loss: 0.5657 - val_accuracy: 0.7362
Epoch 56/100
684/684 [==============================] - 0s 691us/step - loss: 0.5372 - accuracy: 0.7374 - val_loss: 0.5604 - val_accuracy: 0.7383
Epoch 57/100
684/684 [==============================] - 0s 684us/step - loss: 0.5367 - accuracy: 0.7384 - val_loss: 0.5611 - val_accuracy: 0.7359
Epoch 58/100
684/684 [==============================] - 0s 691us/step - loss: 0.5375 - accuracy: 0.7378 - val_loss: 0.5624 - val_accuracy: 0.7391
Epoch 59/100
684/684 [==============================] - 0s 705us/step - loss: 0.5375 - accuracy: 0.7375 - val_loss: 0.5629 - val_accuracy: 0.7391
Epoch 60/100
684/684 [==============================] - 0s 694us/step - loss: 0.5365 - accuracy: 0.7374 - val_loss: 0.5649 - val_accuracy: 0.7398
Epoch 61/100
684/684 [==============================] - 0s 690us/step - loss: 0.5363 - accuracy: 0.7383 - val_loss: 0.5680 - val_accuracy: 0.7391
Epoch 62/100
684/684 [==============================] - 0s 688us/step - loss: 0.5368 - accuracy: 0.7386 - val_loss: 0.5639 - val_accuracy: 0.7380
Epoch 63/100
684/684 [==============================] - 0s 703us/step - loss: 0.5369 - accuracy: 0.7381 - val_loss: 0.5590 - val_accuracy: 0.7385
Epoch 64/100
684/684 [==============================] - 0s 693us/step - loss: 0.5366 - accuracy: 0.7389 - val_loss: 0.5598 - val_accuracy: 0.7378
Epoch 65/100
684/684 [==============================] - 0s 694us/step - loss: 0.5367 - accuracy: 0.7375 - val_loss: 0.5551 - val_accuracy: 0.7372
Epoch 66/100
684/684 [==============================] - 0s 691us/step - loss: 0.5366 - accuracy: 0.7382 - val_loss: 0.5595 - val_accuracy: 0.7388
Epoch 67/100
684/684 [==============================] - 0s 706us/step - loss: 0.5365 - accuracy: 0.7378 - val_loss: 0.5640 - val_accuracy: 0.7380
Epoch 68/100
684/684 [==============================] - 0s 701us/step - loss: 0.5363 - accuracy: 0.7383 - val_loss: 0.5651 - val_accuracy: 0.7346
Epoch 69/100
684/684 [==============================] - 0s 693us/step - loss: 0.5364 - accuracy: 0.7384 - val_loss: 0.5597 - val_accuracy: 0.7370
Epoch 70/100
684/684 [==============================] - 0s 694us/step - loss: 0.5362 - accuracy: 0.7383 - val_loss: 0.5584 - val_accuracy: 0.7370
Epoch 71/100
684/684 [==============================] - 0s 693us/step - loss: 0.5359 - accuracy: 0.7386 - val_loss: 0.5586 - val_accuracy: 0.7391
Epoch 72/100
684/684 [==============================] - 0s 705us/step - loss: 0.5358 - accuracy: 0.7383 - val_loss: 0.5598 - val_accuracy: 0.7380
Epoch 73/100
684/684 [==============================] - 0s 695us/step - loss: 0.5358 - accuracy: 0.7385 - val_loss: 0.5588 - val_accuracy: 0.7385
Epoch 74/100
684/684 [==============================] - 0s 690us/step - loss: 0.5359 - accuracy: 0.7392 - val_loss: 0.5617 - val_accuracy: 0.7383
Epoch 75/100
684/684 [==============================] - 0s 693us/step - loss: 0.5355 - accuracy: 0.7390 - val_loss: 0.5618 - val_accuracy: 0.7367
Epoch 76/100
684/684 [==============================] - 0s 694us/step - loss: 0.5357 - accuracy: 0.7385 - val_loss: 0.5602 - val_accuracy: 0.7362
Epoch 77/100
684/684 [==============================] - 0s 691us/step - loss: 0.5359 - accuracy: 0.7384 - val_loss: 0.5587 - val_accuracy: 0.7393
Epoch 78/100
684/684 [==============================] - 0s 693us/step - loss: 0.5360 - accuracy: 0.7385 - val_loss: 0.5612 - val_accuracy: 0.7378
Epoch 79/100
684/684 [==============================] - 0s 708us/step - loss: 0.5354 - accuracy: 0.7403 - val_loss: 0.5633 - val_accuracy: 0.7341
Epoch 80/100
684/684 [==============================] - 0s 694us/step - loss: 0.5355 - accuracy: 0.7387 - val_loss: 0.5622 - val_accuracy: 0.7385
Epoch 81/100
684/684 [==============================] - 0s 715us/step - loss: 0.5357 - accuracy: 0.7380 - val_loss: 0.5614 - val_accuracy: 0.7414
Epoch 82/100
684/684 [==============================] - 0s 691us/step - loss: 0.5356 - accuracy: 0.7381 - val_loss: 0.5609 - val_accuracy: 0.7346
Epoch 83/100
684/684 [==============================] - 0s 688us/step - loss: 0.5355 - accuracy: 0.7395 - val_loss: 0.5633 - val_accuracy: 0.7375
Epoch 84/100
684/684 [==============================] - 0s 697us/step - loss: 0.5355 - accuracy: 0.7383 - val_loss: 0.5659 - val_accuracy: 0.7372
Epoch 85/100
684/684 [==============================] - 0s 693us/step - loss: 0.5352 - accuracy: 0.7387 - val_loss: 0.5660 - val_accuracy: 0.7370
Epoch 86/100
684/684 [==============================] - 0s 707us/step - loss: 0.5352 - accuracy: 0.7385 - val_loss: 0.5654 - val_accuracy: 0.7346
Epoch 87/100
684/684 [==============================] - 0s 690us/step - loss: 0.5355 - accuracy: 0.7394 - val_loss: 0.5677 - val_accuracy: 0.7380
Epoch 88/100
684/684 [==============================] - 0s 693us/step - loss: 0.5349 - accuracy: 0.7390 - val_loss: 0.5637 - val_accuracy: 0.7388
Epoch 89/100
684/684 [==============================] - 0s 694us/step - loss: 0.5353 - accuracy: 0.7383 - val_loss: 0.5609 - val_accuracy: 0.7370
Epoch 90/100
684/684 [==============================] - 0s 708us/step - loss: 0.5351 - accuracy: 0.7394 - val_loss: 0.5647 - val_accuracy: 0.7359
Epoch 91/100
684/684 [==============================] - 0s 688us/step - loss: 0.5349 - accuracy: 0.7383 - val_loss: 0.5700 - val_accuracy: 0.7393
Epoch 92/100
684/684 [==============================] - 0s 690us/step - loss: 0.5353 - accuracy: 0.7396 - val_loss: 0.5688 - val_accuracy: 0.7372
Epoch 93/100
684/684 [==============================] - 0s 699us/step - loss: 0.5353 - accuracy: 0.7399 - val_loss: 0.5627 - val_accuracy: 0.7378
Epoch 94/100
684/684 [==============================] - 0s 696us/step - loss: 0.5353 - accuracy: 0.7383 - val_loss: 0.5726 - val_accuracy: 0.7398
Epoch 95/100
684/684 [==============================] - 0s 711us/step - loss: 0.5348 - accuracy: 0.7393 - val_loss: 0.5667 - val_accuracy: 0.7349
Epoch 96/100
684/684 [==============================] - 0s 693us/step - loss: 0.5346 - accuracy: 0.7395 - val_loss: 0.5734 - val_accuracy: 0.7370
Epoch 97/100
684/684 [==============================] - 0s 694us/step - loss: 0.5345 - accuracy: 0.7398 - val_loss: 0.5692 - val_accuracy: 0.7385
Epoch 98/100
684/684 [==============================] - 0s 689us/step - loss: 0.5346 - accuracy: 0.7391 - val_loss: 0.5752 - val_accuracy: 0.7391
Epoch 99/100
684/684 [==============================] - 0s 708us/step - loss: 0.5343 - accuracy: 0.7398 - val_loss: 0.5696 - val_accuracy: 0.7388
Epoch 100/100
684/684 [==============================] - 0s 697us/step - loss: 0.5340 - accuracy: 0.7403 - val_loss: 0.5677 - val_accuracy: 0.7359

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5552 - accuracy: 0.7290 - 129ms/epoch - 483us/step
Loss: 0.5551509261131287, Accuracy: 0.7289795875549316

### <b>2nd Attempt Model Accuracy Does NOT Meet 75% Requirement</b>

In [37]:
# Export our model to HDF5 file
nn.save("Output/Alphabet_Soup_Charity_Optimization_2nd_Attempt.h5")

# <b>3rd Attempt - Income_Amt and Ask_Amt</b>

In [38]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# List the dataframe's data types.
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [40]:
# Find any null values.
for column in application_df.columns:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values.")

Column EIN has 0 null values.
Column NAME has 0 null values.
Column APPLICATION_TYPE has 0 null values.
Column AFFILIATION has 0 null values.
Column CLASSIFICATION has 0 null values.
Column USE_CASE has 0 null values.
Column ORGANIZATION has 0 null values.
Column STATUS has 0 null values.
Column INCOME_AMT has 0 null values.
Column SPECIAL_CONSIDERATIONS has 0 null values.
Column ASK_AMT has 0 null values.
Column IS_SUCCESSFUL has 0 null values.

In [41]:
# Find any duplicate values.
print(f"Duplicate entries: {application_df.duplicated().sum()}")

Duplicate entries: 0

In [42]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [43]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [44]:
# Look at INCOME_AMT value counts for binning
counts_income_amt_for_binning = application_df["INCOME_AMT"].value_counts()
counts_income_amt_for_binning

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [45]:
# Choose a cutoff value and create a list of income_amt to be replaced
# use the variable name 'income_amt_to_replace`
income_amt_to_replace = list(counts_income_amt_for_binning[counts_income_amt_for_binning<500].index)
income_amt_to_replace

# Replace in dataframe
for amt in income_amt_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(amt,"Other")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
Other              564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [46]:
# Look at ASK_AMT value counts for binning
counts_ask_amt_for_binning = application_df["ASK_AMT"].value_counts()
counts_ask_amt_for_binning

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [47]:
# You may find it helpful to look at ASK_AMT value counts >1
counts_ask_amt = counts_ask_amt_for_binning[counts_ask_amt_for_binning>1]
counts_ask_amt.head(10)

5000     25398
10478        3
15583        3
63981        3
6725         3
7003         2
42072        2
5731         2
46327        2
39122        2
Name: ASK_AMT, dtype: int64

In [48]:
# Choose a cutoff value and create a list of ask_amt to be replaced
# use the variable name 'ask_amt_to_replace`
ask_amt_to_replace = list(counts_ask_amt_for_binning[counts_ask_amt_for_binning<8000].index)
ask_amt_to_replace

# Replace in dataframe
for amt in ask_amt_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(amt,"Other")
    
# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [49]:
# Convert categorical data to numeric with 'pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(10)

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
5,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
6,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [50]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [51]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# <b>3rd Attempt - Compile, Train, and Evaluate the Model</b>

In [52]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1 = 10
hidden_nodes2 = 20
hidden_nodes3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 10)                1160

 dense_9 (Dense)             (None, 20)                220

 dense_10 (Dense)            (None, 30)                630

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 2,041
Trainable params: 2,041
Non-trainable params: 0
_________________________________________________________________

In [53]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [54]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15,epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 847us/step - loss: 0.5865 - accuracy: 0.7078 - val_loss: 0.5550 - val_accuracy: 0.7344
Epoch 2/100
684/684 [==============================] - 0s 693us/step - loss: 0.5583 - accuracy: 0.7256 - val_loss: 0.5504 - val_accuracy: 0.7380
Epoch 3/100
684/684 [==============================] - 0s 692us/step - loss: 0.5531 - accuracy: 0.7276 - val_loss: 0.5476 - val_accuracy: 0.7406
Epoch 4/100
684/684 [==============================] - 0s 687us/step - loss: 0.5509 - accuracy: 0.7277 - val_loss: 0.5459 - val_accuracy: 0.7380
Epoch 5/100
684/684 [==============================] - 0s 682us/step - loss: 0.5486 - accuracy: 0.7297 - val_loss: 0.5451 - val_accuracy: 0.7380
Epoch 6/100
684/684 [==============================] - 0s 685us/step - loss: 0.5476 - accuracy: 0.7280 - val_loss: 0.5495 - val_accuracy: 0.7292
Epoch 7/100
684/684 [==============================] - 0s 710us/step - loss: 0.5471 - accuracy: 0.7292 - val_loss: 0.5450 - val_accuracy: 0.7295
Epoch 8/100
684/684 [==============================] - 0s 681us/step - loss: 0.5468 - accuracy: 0.7298 - val_loss: 0.5449 - val_accuracy: 0.7365
Epoch 9/100
684/684 [==============================] - 0s 684us/step - loss: 0.5454 - accuracy: 0.7317 - val_loss: 0.5470 - val_accuracy: 0.7370
Epoch 10/100
684/684 [==============================] - 0s 685us/step - loss: 0.5453 - accuracy: 0.7301 - val_loss: 0.5463 - val_accuracy: 0.7378
Epoch 11/100
684/684 [==============================] - 0s 691us/step - loss: 0.5445 - accuracy: 0.7308 - val_loss: 0.5460 - val_accuracy: 0.7385
Epoch 12/100
684/684 [==============================] - 0s 687us/step - loss: 0.5445 - accuracy: 0.7308 - val_loss: 0.5475 - val_accuracy: 0.7375
Epoch 13/100
684/684 [==============================] - 0s 691us/step - loss: 0.5435 - accuracy: 0.7331 - val_loss: 0.5472 - val_accuracy: 0.7378
Epoch 14/100
684/684 [==============================] - 0s 684us/step - loss: 0.5428 - accuracy: 0.7330 - val_loss: 0.5453 - val_accuracy: 0.7367
Epoch 15/100
684/684 [==============================] - 0s 679us/step - loss: 0.5426 - accuracy: 0.7313 - val_loss: 0.5469 - val_accuracy: 0.7385
Epoch 16/100
684/684 [==============================] - 0s 694us/step - loss: 0.5427 - accuracy: 0.7330 - val_loss: 0.5472 - val_accuracy: 0.7391
Epoch 17/100
684/684 [==============================] - 0s 683us/step - loss: 0.5422 - accuracy: 0.7346 - val_loss: 0.5477 - val_accuracy: 0.7365
Epoch 18/100
684/684 [==============================] - 0s 706us/step - loss: 0.5422 - accuracy: 0.7342 - val_loss: 0.5462 - val_accuracy: 0.7378
Epoch 19/100
684/684 [==============================] - 0s 682us/step - loss: 0.5415 - accuracy: 0.7346 - val_loss: 0.5494 - val_accuracy: 0.7375
Epoch 20/100
684/684 [==============================] - 0s 699us/step - loss: 0.5415 - accuracy: 0.7350 - val_loss: 0.5481 - val_accuracy: 0.7370
Epoch 21/100
684/684 [==============================] - 0s 684us/step - loss: 0.5411 - accuracy: 0.7340 - val_loss: 0.5470 - val_accuracy: 0.7370
Epoch 22/100
684/684 [==============================] - 0s 682us/step - loss: 0.5405 - accuracy: 0.7361 - val_loss: 0.5475 - val_accuracy: 0.7344
Epoch 23/100
684/684 [==============================] - 0s 684us/step - loss: 0.5404 - accuracy: 0.7354 - val_loss: 0.5514 - val_accuracy: 0.7305
Epoch 24/100
684/684 [==============================] - 0s 699us/step - loss: 0.5400 - accuracy: 0.7359 - val_loss: 0.5471 - val_accuracy: 0.7352
Epoch 25/100
684/684 [==============================] - 0s 691us/step - loss: 0.5402 - accuracy: 0.7337 - val_loss: 0.5465 - val_accuracy: 0.7383
Epoch 26/100
684/684 [==============================] - 0s 691us/step - loss: 0.5400 - accuracy: 0.7360 - val_loss: 0.5457 - val_accuracy: 0.7370
Epoch 27/100
684/684 [==============================] - 0s 684us/step - loss: 0.5399 - accuracy: 0.7357 - val_loss: 0.5464 - val_accuracy: 0.7349
Epoch 28/100
684/684 [==============================] - 0s 681us/step - loss: 0.5393 - accuracy: 0.7355 - val_loss: 0.5485 - val_accuracy: 0.7385
Epoch 29/100
684/684 [==============================] - 0s 696us/step - loss: 0.5394 - accuracy: 0.7355 - val_loss: 0.5489 - val_accuracy: 0.7367
Epoch 30/100
684/684 [==============================] - 0s 680us/step - loss: 0.5392 - accuracy: 0.7351 - val_loss: 0.5509 - val_accuracy: 0.7372
Epoch 31/100
684/684 [==============================] - 0s 696us/step - loss: 0.5390 - accuracy: 0.7364 - val_loss: 0.5507 - val_accuracy: 0.7378
Epoch 32/100
684/684 [==============================] - 0s 684us/step - loss: 0.5387 - accuracy: 0.7361 - val_loss: 0.5530 - val_accuracy: 0.7372
Epoch 33/100
684/684 [==============================] - 0s 685us/step - loss: 0.5387 - accuracy: 0.7359 - val_loss: 0.5487 - val_accuracy: 0.7375
Epoch 34/100
684/684 [==============================] - 0s 698us/step - loss: 0.5383 - accuracy: 0.7364 - val_loss: 0.5510 - val_accuracy: 0.7380
Epoch 35/100
684/684 [==============================] - 0s 681us/step - loss: 0.5380 - accuracy: 0.7362 - val_loss: 0.5492 - val_accuracy: 0.7393
Epoch 36/100
684/684 [==============================] - 0s 678us/step - loss: 0.5381 - accuracy: 0.7369 - val_loss: 0.5496 - val_accuracy: 0.7370
Epoch 37/100
684/684 [==============================] - 0s 686us/step - loss: 0.5378 - accuracy: 0.7366 - val_loss: 0.5503 - val_accuracy: 0.7370
Epoch 38/100
684/684 [==============================] - 0s 703us/step - loss: 0.5387 - accuracy: 0.7368 - val_loss: 0.5464 - val_accuracy: 0.7383
Epoch 39/100
684/684 [==============================] - 0s 691us/step - loss: 0.5381 - accuracy: 0.7375 - val_loss: 0.5480 - val_accuracy: 0.7383
Epoch 40/100
684/684 [==============================] - 0s 682us/step - loss: 0.5379 - accuracy: 0.7358 - val_loss: 0.5453 - val_accuracy: 0.7380
Epoch 41/100
684/684 [==============================] - 0s 685us/step - loss: 0.5382 - accuracy: 0.7370 - val_loss: 0.5500 - val_accuracy: 0.7372
Epoch 42/100
684/684 [==============================] - 0s 686us/step - loss: 0.5380 - accuracy: 0.7364 - val_loss: 0.5492 - val_accuracy: 0.7385
Epoch 43/100
684/684 [==============================] - 0s 701us/step - loss: 0.5373 - accuracy: 0.7363 - val_loss: 0.5466 - val_accuracy: 0.7378
Epoch 44/100
684/684 [==============================] - 0s 690us/step - loss: 0.5375 - accuracy: 0.7373 - val_loss: 0.5536 - val_accuracy: 0.7367
Epoch 45/100
684/684 [==============================] - 0s 684us/step - loss: 0.5374 - accuracy: 0.7366 - val_loss: 0.5498 - val_accuracy: 0.7372
Epoch 46/100
684/684 [==============================] - 0s 686us/step - loss: 0.5375 - accuracy: 0.7372 - val_loss: 0.5513 - val_accuracy: 0.7372
Epoch 47/100
684/684 [==============================] - 0s 703us/step - loss: 0.5369 - accuracy: 0.7372 - val_loss: 0.5530 - val_accuracy: 0.7370
Epoch 48/100
684/684 [==============================] - 0s 685us/step - loss: 0.5372 - accuracy: 0.7375 - val_loss: 0.5506 - val_accuracy: 0.7370
Epoch 49/100
684/684 [==============================] - 0s 691us/step - loss: 0.5371 - accuracy: 0.7365 - val_loss: 0.5482 - val_accuracy: 0.7378
Epoch 50/100
684/684 [==============================] - 0s 684us/step - loss: 0.5364 - accuracy: 0.7375 - val_loss: 0.5544 - val_accuracy: 0.7388
Epoch 51/100
684/684 [==============================] - 0s 705us/step - loss: 0.5364 - accuracy: 0.7368 - val_loss: 0.5524 - val_accuracy: 0.7372
Epoch 52/100
684/684 [==============================] - 0s 689us/step - loss: 0.5366 - accuracy: 0.7367 - val_loss: 0.5487 - val_accuracy: 0.7367
Epoch 53/100
684/684 [==============================] - 0s 685us/step - loss: 0.5365 - accuracy: 0.7369 - val_loss: 0.5528 - val_accuracy: 0.7352
Epoch 54/100
684/684 [==============================] - 0s 681us/step - loss: 0.5359 - accuracy: 0.7370 - val_loss: 0.5550 - val_accuracy: 0.7396
Epoch 55/100
684/684 [==============================] - 0s 691us/step - loss: 0.5364 - accuracy: 0.7365 - val_loss: 0.5519 - val_accuracy: 0.7372
Epoch 56/100
684/684 [==============================] - 0s 698us/step - loss: 0.5360 - accuracy: 0.7378 - val_loss: 0.5529 - val_accuracy: 0.7378
Epoch 57/100
684/684 [==============================] - 0s 687us/step - loss: 0.5361 - accuracy: 0.7378 - val_loss: 0.5517 - val_accuracy: 0.7372
Epoch 58/100
684/684 [==============================] - 0s 685us/step - loss: 0.5357 - accuracy: 0.7367 - val_loss: 0.5524 - val_accuracy: 0.7378
Epoch 59/100
684/684 [==============================] - 0s 715us/step - loss: 0.5361 - accuracy: 0.7373 - val_loss: 0.5479 - val_accuracy: 0.7403
Epoch 60/100
684/684 [==============================] - 1s 744us/step - loss: 0.5356 - accuracy: 0.7378 - val_loss: 0.5504 - val_accuracy: 0.7372
Epoch 61/100
684/684 [==============================] - 0s 700us/step - loss: 0.5355 - accuracy: 0.7362 - val_loss: 0.5497 - val_accuracy: 0.7375
Epoch 62/100
684/684 [==============================] - 0s 694us/step - loss: 0.5352 - accuracy: 0.7376 - val_loss: 0.5526 - val_accuracy: 0.7372
Epoch 63/100
684/684 [==============================] - 0s 688us/step - loss: 0.5358 - accuracy: 0.7374 - val_loss: 0.5513 - val_accuracy: 0.7388
Epoch 64/100
684/684 [==============================] - 0s 686us/step - loss: 0.5354 - accuracy: 0.7376 - val_loss: 0.5520 - val_accuracy: 0.7396
Epoch 65/100
684/684 [==============================] - 0s 690us/step - loss: 0.5357 - accuracy: 0.7382 - val_loss: 0.5488 - val_accuracy: 0.7383
Epoch 66/100
684/684 [==============================] - 0s 684us/step - loss: 0.5352 - accuracy: 0.7370 - val_loss: 0.5540 - val_accuracy: 0.7370
Epoch 67/100
684/684 [==============================] - 0s 685us/step - loss: 0.5351 - accuracy: 0.7377 - val_loss: 0.5470 - val_accuracy: 0.7375
Epoch 68/100
684/684 [==============================] - 0s 691us/step - loss: 0.5356 - accuracy: 0.7376 - val_loss: 0.5498 - val_accuracy: 0.7385
Epoch 69/100
684/684 [==============================] - 0s 692us/step - loss: 0.5347 - accuracy: 0.7374 - val_loss: 0.5455 - val_accuracy: 0.7370
Epoch 70/100
684/684 [==============================] - 0s 694us/step - loss: 0.5351 - accuracy: 0.7383 - val_loss: 0.5459 - val_accuracy: 0.7365
Epoch 71/100
684/684 [==============================] - 0s 686us/step - loss: 0.5348 - accuracy: 0.7386 - val_loss: 0.5506 - val_accuracy: 0.7372
Epoch 72/100
684/684 [==============================] - 0s 694us/step - loss: 0.5347 - accuracy: 0.7385 - val_loss: 0.5478 - val_accuracy: 0.7365
Epoch 73/100
684/684 [==============================] - 0s 689us/step - loss: 0.5345 - accuracy: 0.7367 - val_loss: 0.5533 - val_accuracy: 0.7380
Epoch 74/100
684/684 [==============================] - 0s 709us/step - loss: 0.5348 - accuracy: 0.7388 - val_loss: 0.5516 - val_accuracy: 0.7393
Epoch 75/100
684/684 [==============================] - 0s 683us/step - loss: 0.5348 - accuracy: 0.7390 - val_loss: 0.5497 - val_accuracy: 0.7396
Epoch 76/100
684/684 [==============================] - 0s 685us/step - loss: 0.5347 - accuracy: 0.7370 - val_loss: 0.5512 - val_accuracy: 0.7365
Epoch 77/100
684/684 [==============================] - 0s 683us/step - loss: 0.5344 - accuracy: 0.7389 - val_loss: 0.5508 - val_accuracy: 0.7383
Epoch 78/100
684/684 [==============================] - 0s 698us/step - loss: 0.5345 - accuracy: 0.7382 - val_loss: 0.5464 - val_accuracy: 0.7372
Epoch 79/100
684/684 [==============================] - 0s 705us/step - loss: 0.5346 - accuracy: 0.7389 - val_loss: 0.5506 - val_accuracy: 0.7380
Epoch 80/100
684/684 [==============================] - 0s 684us/step - loss: 0.5344 - accuracy: 0.7379 - val_loss: 0.5529 - val_accuracy: 0.7357
Epoch 81/100
684/684 [==============================] - 0s 683us/step - loss: 0.5347 - accuracy: 0.7386 - val_loss: 0.5471 - val_accuracy: 0.7367
Epoch 82/100
684/684 [==============================] - 0s 686us/step - loss: 0.5340 - accuracy: 0.7375 - val_loss: 0.5472 - val_accuracy: 0.7362
Epoch 83/100
684/684 [==============================] - 0s 695us/step - loss: 0.5341 - accuracy: 0.7383 - val_loss: 0.5494 - val_accuracy: 0.7391
Epoch 84/100
684/684 [==============================] - 0s 691us/step - loss: 0.5340 - accuracy: 0.7391 - val_loss: 0.5555 - val_accuracy: 0.7391
Epoch 85/100
684/684 [==============================] - 0s 692us/step - loss: 0.5340 - accuracy: 0.7384 - val_loss: 0.5580 - val_accuracy: 0.7383
Epoch 86/100
684/684 [==============================] - 0s 685us/step - loss: 0.5340 - accuracy: 0.7385 - val_loss: 0.5554 - val_accuracy: 0.7396
Epoch 87/100
684/684 [==============================] - 0s 691us/step - loss: 0.5335 - accuracy: 0.7386 - val_loss: 0.5538 - val_accuracy: 0.7383
Epoch 88/100
684/684 [==============================] - 0s 687us/step - loss: 0.5333 - accuracy: 0.7382 - val_loss: 0.5509 - val_accuracy: 0.7378
Epoch 89/100
684/684 [==============================] - 0s 686us/step - loss: 0.5339 - accuracy: 0.7400 - val_loss: 0.5495 - val_accuracy: 0.7370
Epoch 90/100
684/684 [==============================] - 0s 687us/step - loss: 0.5331 - accuracy: 0.7390 - val_loss: 0.5490 - val_accuracy: 0.7406
Epoch 91/100
684/684 [==============================] - 0s 698us/step - loss: 0.5340 - accuracy: 0.7393 - val_loss: 0.5508 - val_accuracy: 0.7367
Epoch 92/100
684/684 [==============================] - 0s 697us/step - loss: 0.5334 - accuracy: 0.7392 - val_loss: 0.5491 - val_accuracy: 0.7365
Epoch 93/100
684/684 [==============================] - 0s 689us/step - loss: 0.5334 - accuracy: 0.7389 - val_loss: 0.5505 - val_accuracy: 0.7378
Epoch 94/100
684/684 [==============================] - 0s 685us/step - loss: 0.5336 - accuracy: 0.7399 - val_loss: 0.5512 - val_accuracy: 0.7380
Epoch 95/100
684/684 [==============================] - 0s 685us/step - loss: 0.5336 - accuracy: 0.7383 - val_loss: 0.5552 - val_accuracy: 0.7391
Epoch 96/100
684/684 [==============================] - 0s 703us/step - loss: 0.5331 - accuracy: 0.7394 - val_loss: 0.5525 - val_accuracy: 0.7370
Epoch 97/100
684/684 [==============================] - 0s 689us/step - loss: 0.5331 - accuracy: 0.7395 - val_loss: 0.5537 - val_accuracy: 0.7372
Epoch 98/100
684/684 [==============================] - 0s 688us/step - loss: 0.5334 - accuracy: 0.7384 - val_loss: 0.5521 - val_accuracy: 0.7365
Epoch 99/100
684/684 [==============================] - 0s 688us/step - loss: 0.5329 - accuracy: 0.7391 - val_loss: 0.5596 - val_accuracy: 0.7385
Epoch 100/100
684/684 [==============================] - 0s 689us/step - loss: 0.5329 - accuracy: 0.7386 - val_loss: 0.5507 - val_accuracy: 0.7388

In [55]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5581 - accuracy: 0.7247 - 132ms/epoch - 492us/step
Loss: 0.558058500289917, Accuracy: 0.7246647477149963

In [56]:
# Export our model to HDF5 file
nn.save("Output/Alphabet_Soup_Charity_Optimization_3rd_Attempt.h5")

### <b>3rd Attempt Model Accuracy Does NOT Meet 75% Requirement</b>

# <b>4th Attempt - Application Type and Income_Amt</b>

In [57]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [58]:
# List the dataframe's data types.
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [59]:
# Find any null values.
for column in application_df.columns:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values.")

Column EIN has 0 null values.
Column NAME has 0 null values.
Column APPLICATION_TYPE has 0 null values.
Column AFFILIATION has 0 null values.
Column CLASSIFICATION has 0 null values.
Column USE_CASE has 0 null values.
Column ORGANIZATION has 0 null values.
Column STATUS has 0 null values.
Column INCOME_AMT has 0 null values.
Column SPECIAL_CONSIDERATIONS has 0 null values.
Column ASK_AMT has 0 null values.
Column IS_SUCCESSFUL has 0 null values.

In [60]:
# Find any duplicate values.
print(f"Duplicate entries: {application_df.duplicated().sum()}")

Duplicate entries: 0

In [61]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [62]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [63]:
# Look at APPLICATION_TYPE value counts for binning
counts_application_type_for_binning = application_df["APPLICATION_TYPE"].value_counts()
counts_application_type_for_binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [64]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_application_type_for_binning[counts_application_type_for_binning<25].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [65]:
# Look at ASK_AMT value counts for binning
counts_ask_amt_for_binning = application_df["ASK_AMT"].value_counts()
counts_ask_amt_for_binning

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [66]:
# You may find it helpful to look at ASK_AMT value counts >1
counts_ask_amt = counts_ask_amt_for_binning[counts_ask_amt_for_binning>1]
counts_ask_amt.head(10)

5000     25398
10478        3
15583        3
63981        3
6725         3
7003         2
42072        2
5731         2
46327        2
39122        2
Name: ASK_AMT, dtype: int64

In [67]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name 'ask_amt'_to_replace`
ask_amt_to_replace = list(counts_ask_amt_for_binning[counts_ask_amt_for_binning<100].index)
ask_amt_to_replace

# Replace in dataframe
for amt in ask_amt_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(amt,"Other")
    
# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [68]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(10)

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
5,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
6,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [69]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [70]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# <b>4th Attempt - Compile, Train, and Evaluate the Model</b>

In [71]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1 = 10
hidden_nodes2 = 20
hidden_nodes3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 10)                1130

 dense_13 (Dense)            (None, 20)                220

 dense_14 (Dense)            (None, 30)                630

 dense_15 (Dense)            (None, 1)                 31

=================================================================
Total params: 2,011
Trainable params: 2,011
Non-trainable params: 0
_________________________________________________________________

In [72]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [73]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15,epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 846us/step - loss: 0.5910 - accuracy: 0.7099 - val_loss: 0.5503 - val_accuracy: 0.7349
Epoch 2/100
684/684 [==============================] - 0s 703us/step - loss: 0.5601 - accuracy: 0.7250 - val_loss: 0.5438 - val_accuracy: 0.7359
Epoch 3/100
684/684 [==============================] - 0s 698us/step - loss: 0.5539 - accuracy: 0.7267 - val_loss: 0.5467 - val_accuracy: 0.7365
Epoch 4/100
684/684 [==============================] - 0s 696us/step - loss: 0.5520 - accuracy: 0.7278 - val_loss: 0.5439 - val_accuracy: 0.7393
Epoch 5/100
684/684 [==============================] - 0s 696us/step - loss: 0.5498 - accuracy: 0.7282 - val_loss: 0.5450 - val_accuracy: 0.7357
Epoch 6/100
684/684 [==============================] - 0s 693us/step - loss: 0.5487 - accuracy: 0.7303 - val_loss: 0.5461 - val_accuracy: 0.7352
Epoch 7/100
684/684 [==============================] - 0s 693us/step - loss: 0.5472 - accuracy: 0.7317 - val_loss: 0.5472 - val_accuracy: 0.7385
Epoch 8/100
684/684 [==============================] - 0s 691us/step - loss: 0.5466 - accuracy: 0.7321 - val_loss: 0.5432 - val_accuracy: 0.7375
Epoch 9/100
684/684 [==============================] - 0s 699us/step - loss: 0.5456 - accuracy: 0.7301 - val_loss: 0.5446 - val_accuracy: 0.7378
Epoch 10/100
684/684 [==============================] - 0s 699us/step - loss: 0.5447 - accuracy: 0.7313 - val_loss: 0.5477 - val_accuracy: 0.7346
Epoch 11/100
684/684 [==============================] - 0s 728us/step - loss: 0.5448 - accuracy: 0.7322 - val_loss: 0.5465 - val_accuracy: 0.7393
Epoch 12/100
684/684 [==============================] - 0s 691us/step - loss: 0.5438 - accuracy: 0.7330 - val_loss: 0.5461 - val_accuracy: 0.7380
Epoch 13/100
684/684 [==============================] - 0s 695us/step - loss: 0.5439 - accuracy: 0.7327 - val_loss: 0.5458 - val_accuracy: 0.7375
Epoch 14/100
684/684 [==============================] - 0s 695us/step - loss: 0.5426 - accuracy: 0.7320 - val_loss: 0.5487 - val_accuracy: 0.7372
Epoch 15/100
684/684 [==============================] - 0s 723us/step - loss: 0.5428 - accuracy: 0.7318 - val_loss: 0.5479 - val_accuracy: 0.7375
Epoch 16/100
684/684 [==============================] - 0s 705us/step - loss: 0.5427 - accuracy: 0.7328 - val_loss: 0.5500 - val_accuracy: 0.7388
Epoch 17/100
684/684 [==============================] - 0s 698us/step - loss: 0.5420 - accuracy: 0.7326 - val_loss: 0.5480 - val_accuracy: 0.7419
Epoch 18/100
684/684 [==============================] - 0s 689us/step - loss: 0.5417 - accuracy: 0.7339 - val_loss: 0.5459 - val_accuracy: 0.7378
Epoch 19/100
684/684 [==============================] - 0s 701us/step - loss: 0.5411 - accuracy: 0.7335 - val_loss: 0.5481 - val_accuracy: 0.7385
Epoch 20/100
684/684 [==============================] - 0s 709us/step - loss: 0.5413 - accuracy: 0.7330 - val_loss: 0.5459 - val_accuracy: 0.7388
Epoch 21/100
684/684 [==============================] - 0s 696us/step - loss: 0.5409 - accuracy: 0.7332 - val_loss: 0.5448 - val_accuracy: 0.7403
Epoch 22/100
684/684 [==============================] - 0s 711us/step - loss: 0.5406 - accuracy: 0.7348 - val_loss: 0.5478 - val_accuracy: 0.7354
Epoch 23/100
684/684 [==============================] - 0s 694us/step - loss: 0.5406 - accuracy: 0.7337 - val_loss: 0.5449 - val_accuracy: 0.7401
Epoch 24/100
684/684 [==============================] - 0s 711us/step - loss: 0.5400 - accuracy: 0.7344 - val_loss: 0.5478 - val_accuracy: 0.7401
Epoch 25/100
684/684 [==============================] - 0s 699us/step - loss: 0.5398 - accuracy: 0.7350 - val_loss: 0.5495 - val_accuracy: 0.7409
Epoch 26/100
684/684 [==============================] - 0s 693us/step - loss: 0.5401 - accuracy: 0.7359 - val_loss: 0.5476 - val_accuracy: 0.7406
Epoch 27/100
684/684 [==============================] - 0s 695us/step - loss: 0.5399 - accuracy: 0.7352 - val_loss: 0.5500 - val_accuracy: 0.7401
Epoch 28/100
684/684 [==============================] - 0s 715us/step - loss: 0.5392 - accuracy: 0.7350 - val_loss: 0.5533 - val_accuracy: 0.7391
Epoch 29/100
684/684 [==============================] - 0s 704us/step - loss: 0.5390 - accuracy: 0.7351 - val_loss: 0.5492 - val_accuracy: 0.7362
Epoch 30/100
684/684 [==============================] - 0s 694us/step - loss: 0.5390 - accuracy: 0.7352 - val_loss: 0.5475 - val_accuracy: 0.7370
Epoch 31/100
684/684 [==============================] - 0s 698us/step - loss: 0.5384 - accuracy: 0.7357 - val_loss: 0.5497 - val_accuracy: 0.7378
Epoch 32/100
684/684 [==============================] - 0s 693us/step - loss: 0.5384 - accuracy: 0.7368 - val_loss: 0.5489 - val_accuracy: 0.7362
Epoch 33/100
684/684 [==============================] - 0s 702us/step - loss: 0.5385 - accuracy: 0.7351 - val_loss: 0.5494 - val_accuracy: 0.7370
Epoch 34/100
684/684 [==============================] - 0s 699us/step - loss: 0.5379 - accuracy: 0.7355 - val_loss: 0.5464 - val_accuracy: 0.7365
Epoch 35/100
684/684 [==============================] - 0s 690us/step - loss: 0.5378 - accuracy: 0.7357 - val_loss: 0.5496 - val_accuracy: 0.7378
Epoch 36/100
684/684 [==============================] - 0s 696us/step - loss: 0.5381 - accuracy: 0.7367 - val_loss: 0.5535 - val_accuracy: 0.7414
Epoch 37/100
684/684 [==============================] - 0s 708us/step - loss: 0.5379 - accuracy: 0.7355 - val_loss: 0.5486 - val_accuracy: 0.7383
Epoch 38/100
684/684 [==============================] - 0s 693us/step - loss: 0.5371 - accuracy: 0.7369 - val_loss: 0.5464 - val_accuracy: 0.7367
Epoch 39/100
684/684 [==============================] - 0s 690us/step - loss: 0.5373 - accuracy: 0.7358 - val_loss: 0.5508 - val_accuracy: 0.7372
Epoch 40/100
684/684 [==============================] - 0s 691us/step - loss: 0.5374 - accuracy: 0.7370 - val_loss: 0.5478 - val_accuracy: 0.7380
Epoch 41/100
684/684 [==============================] - 0s 717us/step - loss: 0.5370 - accuracy: 0.7372 - val_loss: 0.5465 - val_accuracy: 0.7383
Epoch 42/100
684/684 [==============================] - 0s 690us/step - loss: 0.5366 - accuracy: 0.7366 - val_loss: 0.5488 - val_accuracy: 0.7406
Epoch 43/100
684/684 [==============================] - 0s 693us/step - loss: 0.5362 - accuracy: 0.7376 - val_loss: 0.5470 - val_accuracy: 0.7341
Epoch 44/100
684/684 [==============================] - 0s 693us/step - loss: 0.5366 - accuracy: 0.7362 - val_loss: 0.5477 - val_accuracy: 0.7362
Epoch 45/100
684/684 [==============================] - 0s 693us/step - loss: 0.5362 - accuracy: 0.7369 - val_loss: 0.5488 - val_accuracy: 0.7367
Epoch 46/100
684/684 [==============================] - 0s 698us/step - loss: 0.5362 - accuracy: 0.7370 - val_loss: 0.5505 - val_accuracy: 0.7372
Epoch 47/100
684/684 [==============================] - 0s 689us/step - loss: 0.5359 - accuracy: 0.7383 - val_loss: 0.5468 - val_accuracy: 0.7380
Epoch 48/100
684/684 [==============================] - 0s 693us/step - loss: 0.5357 - accuracy: 0.7373 - val_loss: 0.5485 - val_accuracy: 0.7367
Epoch 49/100
684/684 [==============================] - 0s 691us/step - loss: 0.5356 - accuracy: 0.7387 - val_loss: 0.5490 - val_accuracy: 0.7362
Epoch 50/100
684/684 [==============================] - 0s 688us/step - loss: 0.5353 - accuracy: 0.7367 - val_loss: 0.5498 - val_accuracy: 0.7393
Epoch 51/100
684/684 [==============================] - 0s 701us/step - loss: 0.5354 - accuracy: 0.7367 - val_loss: 0.5509 - val_accuracy: 0.7354
Epoch 52/100
684/684 [==============================] - 0s 693us/step - loss: 0.5353 - accuracy: 0.7380 - val_loss: 0.5541 - val_accuracy: 0.7326
Epoch 53/100
684/684 [==============================] - 0s 710us/step - loss: 0.5350 - accuracy: 0.7373 - val_loss: 0.5520 - val_accuracy: 0.7370
Epoch 54/100
684/684 [==============================] - 0s 691us/step - loss: 0.5348 - accuracy: 0.7380 - val_loss: 0.5552 - val_accuracy: 0.7352
Epoch 55/100
684/684 [==============================] - 0s 692us/step - loss: 0.5346 - accuracy: 0.7369 - val_loss: 0.5527 - val_accuracy: 0.7380
Epoch 56/100
684/684 [==============================] - 0s 695us/step - loss: 0.5348 - accuracy: 0.7378 - val_loss: 0.5493 - val_accuracy: 0.7370
Epoch 57/100
684/684 [==============================] - 0s 704us/step - loss: 0.5344 - accuracy: 0.7385 - val_loss: 0.5481 - val_accuracy: 0.7370
Epoch 58/100
684/684 [==============================] - 0s 704us/step - loss: 0.5347 - accuracy: 0.7379 - val_loss: 0.5547 - val_accuracy: 0.7354
Epoch 59/100
684/684 [==============================] - 0s 689us/step - loss: 0.5342 - accuracy: 0.7379 - val_loss: 0.5523 - val_accuracy: 0.7367
Epoch 60/100
684/684 [==============================] - 0s 693us/step - loss: 0.5348 - accuracy: 0.7377 - val_loss: 0.5523 - val_accuracy: 0.7359
Epoch 61/100
684/684 [==============================] - 0s 695us/step - loss: 0.5342 - accuracy: 0.7394 - val_loss: 0.5534 - val_accuracy: 0.7349
Epoch 62/100
684/684 [==============================] - 0s 714us/step - loss: 0.5339 - accuracy: 0.7388 - val_loss: 0.5542 - val_accuracy: 0.7375
Epoch 63/100
684/684 [==============================] - 0s 701us/step - loss: 0.5337 - accuracy: 0.7380 - val_loss: 0.5524 - val_accuracy: 0.7357
Epoch 64/100
684/684 [==============================] - 0s 691us/step - loss: 0.5337 - accuracy: 0.7392 - val_loss: 0.5568 - val_accuracy: 0.7388
Epoch 65/100
684/684 [==============================] - 0s 690us/step - loss: 0.5342 - accuracy: 0.7378 - val_loss: 0.5478 - val_accuracy: 0.7362
Epoch 66/100
684/684 [==============================] - 0s 688us/step - loss: 0.5333 - accuracy: 0.7393 - val_loss: 0.5497 - val_accuracy: 0.7370
Epoch 67/100
684/684 [==============================] - 0s 705us/step - loss: 0.5334 - accuracy: 0.7399 - val_loss: 0.5502 - val_accuracy: 0.7336
Epoch 68/100
684/684 [==============================] - 0s 698us/step - loss: 0.5339 - accuracy: 0.7386 - val_loss: 0.5496 - val_accuracy: 0.7367
Epoch 69/100
684/684 [==============================] - 0s 719us/step - loss: 0.5332 - accuracy: 0.7391 - val_loss: 0.5532 - val_accuracy: 0.7349
Epoch 70/100
684/684 [==============================] - 0s 717us/step - loss: 0.5334 - accuracy: 0.7392 - val_loss: 0.5550 - val_accuracy: 0.7352
Epoch 71/100
684/684 [==============================] - 0s 702us/step - loss: 0.5333 - accuracy: 0.7391 - val_loss: 0.5528 - val_accuracy: 0.7354
Epoch 72/100
684/684 [==============================] - 0s 698us/step - loss: 0.5327 - accuracy: 0.7383 - val_loss: 0.5482 - val_accuracy: 0.7375
Epoch 73/100
684/684 [==============================] - 0s 698us/step - loss: 0.5337 - accuracy: 0.7394 - val_loss: 0.5559 - val_accuracy: 0.7349
Epoch 74/100
684/684 [==============================] - 0s 698us/step - loss: 0.5328 - accuracy: 0.7389 - val_loss: 0.5485 - val_accuracy: 0.7359
Epoch 75/100
684/684 [==============================] - 0s 692us/step - loss: 0.5329 - accuracy: 0.7396 - val_loss: 0.5516 - val_accuracy: 0.7388
Epoch 76/100
684/684 [==============================] - 0s 691us/step - loss: 0.5329 - accuracy: 0.7389 - val_loss: 0.5524 - val_accuracy: 0.7359
Epoch 77/100
684/684 [==============================] - 0s 702us/step - loss: 0.5328 - accuracy: 0.7391 - val_loss: 0.5498 - val_accuracy: 0.7380
Epoch 78/100
684/684 [==============================] - 0s 690us/step - loss: 0.5329 - accuracy: 0.7386 - val_loss: 0.5515 - val_accuracy: 0.7359
Epoch 79/100
684/684 [==============================] - 0s 696us/step - loss: 0.5329 - accuracy: 0.7394 - val_loss: 0.5524 - val_accuracy: 0.7380
Epoch 80/100
684/684 [==============================] - 0s 693us/step - loss: 0.5331 - accuracy: 0.7393 - val_loss: 0.5497 - val_accuracy: 0.7375
Epoch 81/100
684/684 [==============================] - 0s 697us/step - loss: 0.5327 - accuracy: 0.7389 - val_loss: 0.5513 - val_accuracy: 0.7365
Epoch 82/100
684/684 [==============================] - 0s 702us/step - loss: 0.5325 - accuracy: 0.7394 - val_loss: 0.5503 - val_accuracy: 0.7362
Epoch 83/100
684/684 [==============================] - 0s 695us/step - loss: 0.5322 - accuracy: 0.7399 - val_loss: 0.5540 - val_accuracy: 0.7365
Epoch 84/100
684/684 [==============================] - 0s 697us/step - loss: 0.5331 - accuracy: 0.7398 - val_loss: 0.5519 - val_accuracy: 0.7370
Epoch 85/100
684/684 [==============================] - 0s 696us/step - loss: 0.5319 - accuracy: 0.7391 - val_loss: 0.5530 - val_accuracy: 0.7357
Epoch 86/100
684/684 [==============================] - 0s 697us/step - loss: 0.5326 - accuracy: 0.7389 - val_loss: 0.5506 - val_accuracy: 0.7388
Epoch 87/100
684/684 [==============================] - 0s 692us/step - loss: 0.5326 - accuracy: 0.7397 - val_loss: 0.5570 - val_accuracy: 0.7383
Epoch 88/100
684/684 [==============================] - 0s 694us/step - loss: 0.5321 - accuracy: 0.7401 - val_loss: 0.5538 - val_accuracy: 0.7354
Epoch 89/100
684/684 [==============================] - 0s 695us/step - loss: 0.5320 - accuracy: 0.7401 - val_loss: 0.5548 - val_accuracy: 0.7380
Epoch 90/100
684/684 [==============================] - 0s 720us/step - loss: 0.5325 - accuracy: 0.7389 - val_loss: 0.5549 - val_accuracy: 0.7365
Epoch 91/100
684/684 [==============================] - 0s 697us/step - loss: 0.5320 - accuracy: 0.7401 - val_loss: 0.5541 - val_accuracy: 0.7375
Epoch 92/100
684/684 [==============================] - 0s 694us/step - loss: 0.5323 - accuracy: 0.7395 - val_loss: 0.5528 - val_accuracy: 0.7370
Epoch 93/100
684/684 [==============================] - 0s 696us/step - loss: 0.5319 - accuracy: 0.7401 - val_loss: 0.5538 - val_accuracy: 0.7375
Epoch 94/100
684/684 [==============================] - 0s 692us/step - loss: 0.5318 - accuracy: 0.7396 - val_loss: 0.5527 - val_accuracy: 0.7362
Epoch 95/100
684/684 [==============================] - 0s 707us/step - loss: 0.5319 - accuracy: 0.7406 - val_loss: 0.5532 - val_accuracy: 0.7375
Epoch 96/100
684/684 [==============================] - 0s 690us/step - loss: 0.5318 - accuracy: 0.7402 - val_loss: 0.5524 - val_accuracy: 0.7372
Epoch 97/100
684/684 [==============================] - 0s 685us/step - loss: 0.5318 - accuracy: 0.7394 - val_loss: 0.5552 - val_accuracy: 0.7378
Epoch 98/100
684/684 [==============================] - 0s 692us/step - loss: 0.5322 - accuracy: 0.7395 - val_loss: 0.5520 - val_accuracy: 0.7375
Epoch 99/100
684/684 [==============================] - 0s 694us/step - loss: 0.5317 - accuracy: 0.7398 - val_loss: 0.5531 - val_accuracy: 0.7370
Epoch 100/100
684/684 [==============================] - 0s 687us/step - loss: 0.5311 - accuracy: 0.7405 - val_loss: 0.5505 - val_accuracy: 0.7388

In [74]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5607 - accuracy: 0.7311 - 127ms/epoch - 472us/step
Loss: 0.5606697797775269, Accuracy: 0.7310787439346313

### <b>4th Attempt Model Accuracy Does NOT Meet 75% Requirement</b>

In [75]:
# Export our model to HDF5 file
nn.save("Output/Alphabet_Soup_Charity_Optimization_4th_Attempt.h5")

# <b>5th Attempt - Original Analysis, 4 Neural Layers</b>

In [76]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [77]:
# List the dataframe's data types.
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [78]:
# Find any null values.
for column in application_df.columns:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values.")

Column EIN has 0 null values.
Column NAME has 0 null values.
Column APPLICATION_TYPE has 0 null values.
Column AFFILIATION has 0 null values.
Column CLASSIFICATION has 0 null values.
Column USE_CASE has 0 null values.
Column ORGANIZATION has 0 null values.
Column STATUS has 0 null values.
Column INCOME_AMT has 0 null values.
Column SPECIAL_CONSIDERATIONS has 0 null values.
Column ASK_AMT has 0 null values.
Column IS_SUCCESSFUL has 0 null values.

In [79]:
# Find any duplicate values.
print(f"Duplicate entries: {application_df.duplicated().sum()}")

Duplicate entries: 0

In [80]:
# Drop the non-beneficial ID column 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [81]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [82]:
# Look at APPLICATION_TYPE value counts for binning
counts_application_for_binning = application_df["APPLICATION_TYPE"].value_counts()
counts_application_for_binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [83]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_application_for_binning[counts_application_for_binning<25].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [84]:
# Look at CLASSIFICATION value counts for binning
counts_class_for_binning = application_df["CLASSIFICATION"].value_counts()
counts_class_for_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [85]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_class = counts_class_for_binning[counts_class_for_binning>1]
counts_class.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [86]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name 'classifications_to_replace`
classifications_to_replace = list(counts_class_for_binning[counts_class_for_binning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [87]:
# Convert categorical data to numeric with 'pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [88]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [89]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# <b>5th Attempt - Compile, Train, and Evaluate the Model</b>

In [90]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1 = 10
hidden_nodes2 = 20
hidden_nodes3 = 40
hidden_nodes4 = 80

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 10)                530

 dense_17 (Dense)            (None, 20)                220

 dense_18 (Dense)            (None, 40)                840

 dense_19 (Dense)            (None, 40)                1640

 dense_20 (Dense)            (None, 1)                 41

=================================================================
Total params: 3,271
Trainable params: 3,271
Non-trainable params: 0
_________________________________________________________________

In [91]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [92]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15,epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 856us/step - loss: 0.5899 - accuracy: 0.7046 - val_loss: 0.5536 - val_accuracy: 0.7336
Epoch 2/100
684/684 [==============================] - 0s 701us/step - loss: 0.5604 - accuracy: 0.7228 - val_loss: 0.5547 - val_accuracy: 0.7256
Epoch 3/100
684/684 [==============================] - 0s 708us/step - loss: 0.5567 - accuracy: 0.7237 - val_loss: 0.5496 - val_accuracy: 0.7344
Epoch 4/100
684/684 [==============================] - 0s 706us/step - loss: 0.5532 - accuracy: 0.7274 - val_loss: 0.5473 - val_accuracy: 0.7339
Epoch 5/100
684/684 [==============================] - 0s 699us/step - loss: 0.5524 - accuracy: 0.7283 - val_loss: 0.5523 - val_accuracy: 0.7336
Epoch 6/100
684/684 [==============================] - 0s 696us/step - loss: 0.5509 - accuracy: 0.7303 - val_loss: 0.5487 - val_accuracy: 0.7321
Epoch 7/100
684/684 [==============================] - 0s 697us/step - loss: 0.5503 - accuracy: 0.7281 - val_loss: 0.5488 - val_accuracy: 0.7346
Epoch 8/100
684/684 [==============================] - 0s 695us/step - loss: 0.5493 - accuracy: 0.7300 - val_loss: 0.5474 - val_accuracy: 0.7305
Epoch 9/100
684/684 [==============================] - 0s 714us/step - loss: 0.5481 - accuracy: 0.7298 - val_loss: 0.5485 - val_accuracy: 0.7344
Epoch 10/100
684/684 [==============================] - 0s 709us/step - loss: 0.5480 - accuracy: 0.7299 - val_loss: 0.5450 - val_accuracy: 0.7359
Epoch 11/100
684/684 [==============================] - 0s 703us/step - loss: 0.5471 - accuracy: 0.7305 - val_loss: 0.5461 - val_accuracy: 0.7349
Epoch 12/100
684/684 [==============================] - 0s 701us/step - loss: 0.5467 - accuracy: 0.7313 - val_loss: 0.5474 - val_accuracy: 0.7344
Epoch 13/100
684/684 [==============================] - 0s 726us/step - loss: 0.5463 - accuracy: 0.7303 - val_loss: 0.5441 - val_accuracy: 0.7341
Epoch 14/100
684/684 [==============================] - 0s 701us/step - loss: 0.5458 - accuracy: 0.7307 - val_loss: 0.5497 - val_accuracy: 0.7334
Epoch 15/100
684/684 [==============================] - 0s 706us/step - loss: 0.5460 - accuracy: 0.7335 - val_loss: 0.5440 - val_accuracy: 0.7292
Epoch 16/100
684/684 [==============================] - 0s 698us/step - loss: 0.5455 - accuracy: 0.7319 - val_loss: 0.5426 - val_accuracy: 0.7359
Epoch 17/100
684/684 [==============================] - 0s 703us/step - loss: 0.5448 - accuracy: 0.7319 - val_loss: 0.5448 - val_accuracy: 0.7352
Epoch 18/100
684/684 [==============================] - 0s 700us/step - loss: 0.5449 - accuracy: 0.7338 - val_loss: 0.5453 - val_accuracy: 0.7334
Epoch 19/100
684/684 [==============================] - 0s 697us/step - loss: 0.5441 - accuracy: 0.7322 - val_loss: 0.5441 - val_accuracy: 0.7357
Epoch 20/100
684/684 [==============================] - 0s 697us/step - loss: 0.5443 - accuracy: 0.7345 - val_loss: 0.5435 - val_accuracy: 0.7326
Epoch 21/100
684/684 [==============================] - 0s 715us/step - loss: 0.5439 - accuracy: 0.7335 - val_loss: 0.5425 - val_accuracy: 0.7326
Epoch 22/100
684/684 [==============================] - 0s 705us/step - loss: 0.5436 - accuracy: 0.7334 - val_loss: 0.5435 - val_accuracy: 0.7321
Epoch 23/100
684/684 [==============================] - 0s 698us/step - loss: 0.5434 - accuracy: 0.7330 - val_loss: 0.5445 - val_accuracy: 0.7336
Epoch 24/100
684/684 [==============================] - 0s 703us/step - loss: 0.5428 - accuracy: 0.7347 - val_loss: 0.5439 - val_accuracy: 0.7346
Epoch 25/100
684/684 [==============================] - 0s 696us/step - loss: 0.5428 - accuracy: 0.7342 - val_loss: 0.5451 - val_accuracy: 0.7334
Epoch 26/100
684/684 [==============================] - 0s 702us/step - loss: 0.5434 - accuracy: 0.7345 - val_loss: 0.5424 - val_accuracy: 0.7310
Epoch 27/100
684/684 [==============================] - 0s 704us/step - loss: 0.5425 - accuracy: 0.7363 - val_loss: 0.5421 - val_accuracy: 0.7334
Epoch 28/100
684/684 [==============================] - 0s 691us/step - loss: 0.5424 - accuracy: 0.7335 - val_loss: 0.5454 - val_accuracy: 0.7323
Epoch 29/100
684/684 [==============================] - 0s 695us/step - loss: 0.5430 - accuracy: 0.7344 - val_loss: 0.5419 - val_accuracy: 0.7352
Epoch 30/100
684/684 [==============================] - 0s 695us/step - loss: 0.5418 - accuracy: 0.7353 - val_loss: 0.5439 - val_accuracy: 0.7339
Epoch 31/100
684/684 [==============================] - 0s 699us/step - loss: 0.5423 - accuracy: 0.7353 - val_loss: 0.5436 - val_accuracy: 0.7341
Epoch 32/100
684/684 [==============================] - 0s 698us/step - loss: 0.5417 - accuracy: 0.7348 - val_loss: 0.5444 - val_accuracy: 0.7328
Epoch 33/100
684/684 [==============================] - 0s 701us/step - loss: 0.5419 - accuracy: 0.7371 - val_loss: 0.5432 - val_accuracy: 0.7339
Epoch 34/100
684/684 [==============================] - 0s 695us/step - loss: 0.5416 - accuracy: 0.7353 - val_loss: 0.5428 - val_accuracy: 0.7331
Epoch 35/100
684/684 [==============================] - 0s 704us/step - loss: 0.5411 - accuracy: 0.7354 - val_loss: 0.5453 - val_accuracy: 0.7336
Epoch 36/100
684/684 [==============================] - 0s 697us/step - loss: 0.5416 - accuracy: 0.7344 - val_loss: 0.5430 - val_accuracy: 0.7318
Epoch 37/100
684/684 [==============================] - 0s 702us/step - loss: 0.5406 - accuracy: 0.7352 - val_loss: 0.5431 - val_accuracy: 0.7346
Epoch 38/100
684/684 [==============================] - 0s 694us/step - loss: 0.5410 - accuracy: 0.7362 - val_loss: 0.5428 - val_accuracy: 0.7331
Epoch 39/100
684/684 [==============================] - 0s 707us/step - loss: 0.5409 - accuracy: 0.7357 - val_loss: 0.5438 - val_accuracy: 0.7349
Epoch 40/100
684/684 [==============================] - 0s 702us/step - loss: 0.5406 - accuracy: 0.7370 - val_loss: 0.5429 - val_accuracy: 0.7344
Epoch 41/100
684/684 [==============================] - 0s 697us/step - loss: 0.5410 - accuracy: 0.7363 - val_loss: 0.5430 - val_accuracy: 0.7370
Epoch 42/100
684/684 [==============================] - 0s 700us/step - loss: 0.5403 - accuracy: 0.7370 - val_loss: 0.5440 - val_accuracy: 0.7341
Epoch 43/100
684/684 [==============================] - 0s 704us/step - loss: 0.5401 - accuracy: 0.7364 - val_loss: 0.5442 - val_accuracy: 0.7339
Epoch 44/100
684/684 [==============================] - 0s 710us/step - loss: 0.5403 - accuracy: 0.7365 - val_loss: 0.5441 - val_accuracy: 0.7331
Epoch 45/100
684/684 [==============================] - 0s 707us/step - loss: 0.5403 - accuracy: 0.7369 - val_loss: 0.5429 - val_accuracy: 0.7362
Epoch 46/100
684/684 [==============================] - 0s 701us/step - loss: 0.5400 - accuracy: 0.7357 - val_loss: 0.5428 - val_accuracy: 0.7354
Epoch 47/100
684/684 [==============================] - 0s 696us/step - loss: 0.5400 - accuracy: 0.7364 - val_loss: 0.5418 - val_accuracy: 0.7349
Epoch 48/100
684/684 [==============================] - 0s 704us/step - loss: 0.5400 - accuracy: 0.7365 - val_loss: 0.5418 - val_accuracy: 0.7362
Epoch 49/100
684/684 [==============================] - 0s 694us/step - loss: 0.5392 - accuracy: 0.7369 - val_loss: 0.5416 - val_accuracy: 0.7341
Epoch 50/100
684/684 [==============================] - 0s 697us/step - loss: 0.5400 - accuracy: 0.7363 - val_loss: 0.5406 - val_accuracy: 0.7354
Epoch 51/100
684/684 [==============================] - 0s 701us/step - loss: 0.5393 - accuracy: 0.7358 - val_loss: 0.5428 - val_accuracy: 0.7370
Epoch 52/100
684/684 [==============================] - 0s 728us/step - loss: 0.5394 - accuracy: 0.7364 - val_loss: 0.5437 - val_accuracy: 0.7354
Epoch 53/100
684/684 [==============================] - 0s 698us/step - loss: 0.5396 - accuracy: 0.7368 - val_loss: 0.5437 - val_accuracy: 0.7331
Epoch 54/100
684/684 [==============================] - 0s 697us/step - loss: 0.5390 - accuracy: 0.7372 - val_loss: 0.5407 - val_accuracy: 0.7362
Epoch 55/100
684/684 [==============================] - 0s 697us/step - loss: 0.5389 - accuracy: 0.7366 - val_loss: 0.5462 - val_accuracy: 0.7354
Epoch 56/100
684/684 [==============================] - 0s 716us/step - loss: 0.5397 - accuracy: 0.7372 - val_loss: 0.5425 - val_accuracy: 0.7341
Epoch 57/100
684/684 [==============================] - 1s 747us/step - loss: 0.5390 - accuracy: 0.7371 - val_loss: 0.5411 - val_accuracy: 0.7357
Epoch 58/100
684/684 [==============================] - 0s 726us/step - loss: 0.5388 - accuracy: 0.7367 - val_loss: 0.5413 - val_accuracy: 0.7352
Epoch 59/100
684/684 [==============================] - 0s 729us/step - loss: 0.5384 - accuracy: 0.7378 - val_loss: 0.5425 - val_accuracy: 0.7349
Epoch 60/100
684/684 [==============================] - 0s 721us/step - loss: 0.5387 - accuracy: 0.7372 - val_loss: 0.5435 - val_accuracy: 0.7344
Epoch 61/100
684/684 [==============================] - 0s 710us/step - loss: 0.5383 - accuracy: 0.7377 - val_loss: 0.5440 - val_accuracy: 0.7352
Epoch 62/100
684/684 [==============================] - 0s 705us/step - loss: 0.5381 - accuracy: 0.7367 - val_loss: 0.5445 - val_accuracy: 0.7344
Epoch 63/100
684/684 [==============================] - 0s 700us/step - loss: 0.5386 - accuracy: 0.7367 - val_loss: 0.5466 - val_accuracy: 0.7349
Epoch 64/100
684/684 [==============================] - 0s 700us/step - loss: 0.5388 - accuracy: 0.7371 - val_loss: 0.5407 - val_accuracy: 0.7349
Epoch 65/100
684/684 [==============================] - 0s 707us/step - loss: 0.5381 - accuracy: 0.7372 - val_loss: 0.5422 - val_accuracy: 0.7346
Epoch 66/100
684/684 [==============================] - 0s 698us/step - loss: 0.5386 - accuracy: 0.7365 - val_loss: 0.5391 - val_accuracy: 0.7365
Epoch 67/100
684/684 [==============================] - 0s 702us/step - loss: 0.5381 - accuracy: 0.7373 - val_loss: 0.5434 - val_accuracy: 0.7357
Epoch 68/100
684/684 [==============================] - 0s 728us/step - loss: 0.5379 - accuracy: 0.7374 - val_loss: 0.5412 - val_accuracy: 0.7346
Epoch 69/100
684/684 [==============================] - 0s 729us/step - loss: 0.5377 - accuracy: 0.7374 - val_loss: 0.5433 - val_accuracy: 0.7354
Epoch 70/100
684/684 [==============================] - 0s 715us/step - loss: 0.5386 - accuracy: 0.7370 - val_loss: 0.5444 - val_accuracy: 0.7349
Epoch 71/100
684/684 [==============================] - 0s 711us/step - loss: 0.5384 - accuracy: 0.7372 - val_loss: 0.5433 - val_accuracy: 0.7334
Epoch 72/100
684/684 [==============================] - 1s 738us/step - loss: 0.5382 - accuracy: 0.7372 - val_loss: 0.5433 - val_accuracy: 0.7359
Epoch 73/100
684/684 [==============================] - 0s 706us/step - loss: 0.5377 - accuracy: 0.7377 - val_loss: 0.5428 - val_accuracy: 0.7346
Epoch 74/100
684/684 [==============================] - 0s 700us/step - loss: 0.5379 - accuracy: 0.7378 - val_loss: 0.5432 - val_accuracy: 0.7352
Epoch 75/100
684/684 [==============================] - 0s 697us/step - loss: 0.5373 - accuracy: 0.7375 - val_loss: 0.5438 - val_accuracy: 0.7367
Epoch 76/100
684/684 [==============================] - 0s 695us/step - loss: 0.5376 - accuracy: 0.7378 - val_loss: 0.5419 - val_accuracy: 0.7362
Epoch 77/100
684/684 [==============================] - 0s 695us/step - loss: 0.5376 - accuracy: 0.7385 - val_loss: 0.5428 - val_accuracy: 0.7346
Epoch 78/100
684/684 [==============================] - 0s 716us/step - loss: 0.5374 - accuracy: 0.7383 - val_loss: 0.5427 - val_accuracy: 0.7339
Epoch 79/100
684/684 [==============================] - 0s 699us/step - loss: 0.5370 - accuracy: 0.7376 - val_loss: 0.5432 - val_accuracy: 0.7357
Epoch 80/100
684/684 [==============================] - 0s 697us/step - loss: 0.5377 - accuracy: 0.7365 - val_loss: 0.5403 - val_accuracy: 0.7359
Epoch 81/100
684/684 [==============================] - 0s 695us/step - loss: 0.5367 - accuracy: 0.7384 - val_loss: 0.5479 - val_accuracy: 0.7341
Epoch 82/100
684/684 [==============================] - 0s 713us/step - loss: 0.5378 - accuracy: 0.7378 - val_loss: 0.5407 - val_accuracy: 0.7359
Epoch 83/100
684/684 [==============================] - 0s 704us/step - loss: 0.5367 - accuracy: 0.7378 - val_loss: 0.5414 - val_accuracy: 0.7357
Epoch 84/100
684/684 [==============================] - 0s 694us/step - loss: 0.5375 - accuracy: 0.7372 - val_loss: 0.5431 - val_accuracy: 0.7341
Epoch 85/100
684/684 [==============================] - 0s 697us/step - loss: 0.5370 - accuracy: 0.7381 - val_loss: 0.5394 - val_accuracy: 0.7346
Epoch 86/100
684/684 [==============================] - 0s 704us/step - loss: 0.5371 - accuracy: 0.7381 - val_loss: 0.5394 - val_accuracy: 0.7380
Epoch 87/100
684/684 [==============================] - 0s 705us/step - loss: 0.5368 - accuracy: 0.7379 - val_loss: 0.5425 - val_accuracy: 0.7341
Epoch 88/100
684/684 [==============================] - 0s 707us/step - loss: 0.5367 - accuracy: 0.7377 - val_loss: 0.5426 - val_accuracy: 0.7354
Epoch 89/100
684/684 [==============================] - 0s 695us/step - loss: 0.5367 - accuracy: 0.7363 - val_loss: 0.5430 - val_accuracy: 0.7336
Epoch 90/100
684/684 [==============================] - 1s 738us/step - loss: 0.5369 - accuracy: 0.7386 - val_loss: 0.5415 - val_accuracy: 0.7365
Epoch 91/100
684/684 [==============================] - 0s 710us/step - loss: 0.5364 - accuracy: 0.7382 - val_loss: 0.5429 - val_accuracy: 0.7352
Epoch 92/100
684/684 [==============================] - 0s 708us/step - loss: 0.5370 - accuracy: 0.7388 - val_loss: 0.5433 - val_accuracy: 0.7336
Epoch 93/100
684/684 [==============================] - 0s 706us/step - loss: 0.5364 - accuracy: 0.7378 - val_loss: 0.5443 - val_accuracy: 0.7331
Epoch 94/100
684/684 [==============================] - 0s 698us/step - loss: 0.5366 - accuracy: 0.7389 - val_loss: 0.5407 - val_accuracy: 0.7367
Epoch 95/100
684/684 [==============================] - 0s 700us/step - loss: 0.5368 - accuracy: 0.7389 - val_loss: 0.5418 - val_accuracy: 0.7339
Epoch 96/100
684/684 [==============================] - 0s 700us/step - loss: 0.5362 - accuracy: 0.7379 - val_loss: 0.5413 - val_accuracy: 0.7326
Epoch 97/100
684/684 [==============================] - 0s 701us/step - loss: 0.5371 - accuracy: 0.7381 - val_loss: 0.5411 - val_accuracy: 0.7352
Epoch 98/100
684/684 [==============================] - 0s 711us/step - loss: 0.5363 - accuracy: 0.7392 - val_loss: 0.5435 - val_accuracy: 0.7334
Epoch 99/100
684/684 [==============================] - 0s 697us/step - loss: 0.5364 - accuracy: 0.7380 - val_loss: 0.5410 - val_accuracy: 0.7341
Epoch 100/100
684/684 [==============================] - 0s 708us/step - loss: 0.5360 - accuracy: 0.7388 - val_loss: 0.5420 - val_accuracy: 0.7357

In [93]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7284 - 129ms/epoch - 481us/step
Loss: 0.5564283728599548, Accuracy: 0.728396475315094

### <b>5th Attempt Model Accuracy Does NOT Meet 75% Requirement</b>

In [94]:
# Export our model to HDF5 file
nn.save("Output/Alphabet_Soup_Charity_Optimization_5th_Attempt.h5")

# <b>6th Attempt - Original Analysis, Add Names to Data</b>

In [95]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [96]:
# List the dataframe's data types.
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [97]:
# Find any null values.
for column in application_df.columns:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values.")

Column EIN has 0 null values.
Column NAME has 0 null values.
Column APPLICATION_TYPE has 0 null values.
Column AFFILIATION has 0 null values.
Column CLASSIFICATION has 0 null values.
Column USE_CASE has 0 null values.
Column ORGANIZATION has 0 null values.
Column STATUS has 0 null values.
Column INCOME_AMT has 0 null values.
Column SPECIAL_CONSIDERATIONS has 0 null values.
Column ASK_AMT has 0 null values.
Column IS_SUCCESSFUL has 0 null values.

In [98]:
# Find any duplicate values.
print(f"Duplicate entries: {application_df.duplicated().sum()}")

Duplicate entries: 0

In [99]:
# Drop the non-beneficial ID column 'EIN'.
application_df = application_df.drop(columns=["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [100]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [101]:
# Look at APPLICATION_TYPE value counts for binning
counts_application_for_binning = application_df["APPLICATION_TYPE"].value_counts()
counts_application_for_binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [102]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_application_for_binning[counts_application_for_binning<25].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [103]:
# Look at CLASSIFICATION value counts for binning
counts_class_for_binning = application_df["CLASSIFICATION"].value_counts()
counts_class_for_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [104]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_class = counts_class_for_binning[counts_class_for_binning>1]
counts_class.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [105]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name 'classifications_to_replace`
classifications_to_replace = list(counts_class_for_binning[counts_class_for_binning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [106]:
# Convert categorical data to numeric with 'pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [107]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [108]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# <b>6th Attempt - Compile, Train, and Evaluate the Model</b>

In [109]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1 = 10
hidden_nodes2 = 20
hidden_nodes3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 10)                196210

 dense_22 (Dense)            (None, 20)                220

 dense_23 (Dense)            (None, 30)                630

 dense_24 (Dense)            (None, 1)                 31

=================================================================
Total params: 197,091
Trainable params: 197,091
Non-trainable params: 0
_________________________________________________________________

In [110]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [111]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15,epochs=100)

Epoch 1/100
684/684 [==============================] - 5s 5ms/step - loss: 0.5081 - accuracy: 0.7501 - val_loss: 0.4528 - val_accuracy: 0.7904
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.2941 - accuracy: 0.8665 - val_loss: 0.5418 - val_accuracy: 0.7746
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.2122 - accuracy: 0.9083 - val_loss: 0.4951 - val_accuracy: 0.7852
Epoch 4/100
684/684 [==============================] - 2s 2ms/step - loss: 0.1384 - accuracy: 0.9444 - val_loss: 0.5462 - val_accuracy: 0.7655
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.1064 - accuracy: 0.9577 - val_loss: 0.6696 - val_accuracy: 0.7961
Epoch 6/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0985 - accuracy: 0.9591 - val_loss: 1.0051 - val_accuracy: 0.8018
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0956 - accuracy: 0.9607 - val_loss: 0.7825 - val_accuracy: 0.7997
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0931 - accuracy: 0.9611 - val_loss: 0.6760 - val_accuracy: 0.7867
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0919 - accuracy: 0.9623 - val_loss: 0.8463 - val_accuracy: 0.7994
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0905 - accuracy: 0.9625 - val_loss: 0.7577 - val_accuracy: 0.7979
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0898 - accuracy: 0.9629 - val_loss: 0.8151 - val_accuracy: 0.7971
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0897 - accuracy: 0.9624 - val_loss: 0.6062 - val_accuracy: 0.7797
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0887 - accuracy: 0.9628 - val_loss: 0.9968 - val_accuracy: 0.7987
Epoch 14/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0884 - accuracy: 0.9631 - val_loss: 0.6783 - val_accuracy: 0.7914
Epoch 15/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0880 - accuracy: 0.9631 - val_loss: 0.6503 - val_accuracy: 0.7860
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0872 - accuracy: 0.9636 - val_loss: 0.7934 - val_accuracy: 0.7971
Epoch 17/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0867 - accuracy: 0.9629 - val_loss: 0.9225 - val_accuracy: 0.8007
Epoch 18/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0870 - accuracy: 0.9645 - val_loss: 0.7301 - val_accuracy: 0.7919
Epoch 19/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0869 - accuracy: 0.9637 - val_loss: 0.5809 - val_accuracy: 0.7575
Epoch 20/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0865 - accuracy: 0.9641 - val_loss: 0.6516 - val_accuracy: 0.7914
Epoch 21/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0865 - accuracy: 0.9636 - val_loss: 0.6970 - val_accuracy: 0.7992
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0864 - accuracy: 0.9634 - val_loss: 0.5748 - val_accuracy: 0.7562
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0888 - accuracy: 0.9623 - val_loss: 0.8717 - val_accuracy: 0.8010
Epoch 24/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0875 - accuracy: 0.9626 - val_loss: 1.2722 - val_accuracy: 0.7992
Epoch 25/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0858 - accuracy: 0.9637 - val_loss: 1.2458 - val_accuracy: 0.8007
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0844 - accuracy: 0.9642 - val_loss: 1.5564 - val_accuracy: 0.8005
Epoch 27/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0846 - accuracy: 0.9645 - val_loss: 1.2617 - val_accuracy: 0.8012
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0860 - accuracy: 0.9637 - val_loss: 0.8588 - val_accuracy: 0.7673
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0831 - accuracy: 0.9646 - val_loss: 1.1198 - val_accuracy: 0.7968
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0825 - accuracy: 0.9651 - val_loss: 1.1564 - val_accuracy: 0.7966
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0828 - accuracy: 0.9646 - val_loss: 1.0096 - val_accuracy: 0.7849
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0826 - accuracy: 0.9653 - val_loss: 1.0381 - val_accuracy: 0.7870
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0828 - accuracy: 0.9648 - val_loss: 0.9074 - val_accuracy: 0.7707
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0822 - accuracy: 0.9652 - val_loss: 1.0469 - val_accuracy: 0.7841
Epoch 35/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0825 - accuracy: 0.9651 - val_loss: 1.3170 - val_accuracy: 0.7958
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0820 - accuracy: 0.9651 - val_loss: 1.4141 - val_accuracy: 0.7984
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0816 - accuracy: 0.9650 - val_loss: 1.1314 - val_accuracy: 0.7883
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9649 - val_loss: 1.5924 - val_accuracy: 0.8002
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0818 - accuracy: 0.9655 - val_loss: 1.4270 - val_accuracy: 0.7989
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0814 - accuracy: 0.9658 - val_loss: 1.1252 - val_accuracy: 0.7911
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0815 - accuracy: 0.9652 - val_loss: 1.5107 - val_accuracy: 0.8002
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0814 - accuracy: 0.9654 - val_loss: 1.4191 - val_accuracy: 0.8007
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0811 - accuracy: 0.9654 - val_loss: 1.0027 - val_accuracy: 0.7828
Epoch 44/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0806 - accuracy: 0.9657 - val_loss: 1.3362 - val_accuracy: 0.7989
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0806 - accuracy: 0.9656 - val_loss: 1.5658 - val_accuracy: 0.8015
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0804 - accuracy: 0.9666 - val_loss: 1.6180 - val_accuracy: 0.8005
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0809 - accuracy: 0.9655 - val_loss: 1.6185 - val_accuracy: 0.8028
Epoch 48/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0805 - accuracy: 0.9658 - val_loss: 1.4851 - val_accuracy: 0.7979
Epoch 49/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0807 - accuracy: 0.9662 - val_loss: 1.6676 - val_accuracy: 0.8010
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0803 - accuracy: 0.9657 - val_loss: 0.8963 - val_accuracy: 0.7494
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0805 - accuracy: 0.9668 - val_loss: 2.0343 - val_accuracy: 0.7992
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0801 - accuracy: 0.9654 - val_loss: 2.1406 - val_accuracy: 0.8020
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0803 - accuracy: 0.9661 - val_loss: 2.2329 - val_accuracy: 0.7971
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0802 - accuracy: 0.9667 - val_loss: 2.1324 - val_accuracy: 0.8007
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0803 - accuracy: 0.9661 - val_loss: 2.2886 - val_accuracy: 0.8002
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0799 - accuracy: 0.9660 - val_loss: 1.6908 - val_accuracy: 0.7999
Epoch 57/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0795 - accuracy: 0.9665 - val_loss: 2.3917 - val_accuracy: 0.7997
Epoch 58/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0794 - accuracy: 0.9665 - val_loss: 2.1228 - val_accuracy: 0.7989
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0796 - accuracy: 0.9665 - val_loss: 2.0061 - val_accuracy: 0.7984
Epoch 60/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0799 - accuracy: 0.9657 - val_loss: 1.7332 - val_accuracy: 0.7966
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0795 - accuracy: 0.9662 - val_loss: 2.0113 - val_accuracy: 0.7994
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0796 - accuracy: 0.9666 - val_loss: 1.9892 - val_accuracy: 0.7992
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0793 - accuracy: 0.9661 - val_loss: 2.4689 - val_accuracy: 0.8007
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0790 - accuracy: 0.9664 - val_loss: 1.9009 - val_accuracy: 0.7971
Epoch 65/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0790 - accuracy: 0.9665 - val_loss: 1.7026 - val_accuracy: 0.7984
Epoch 66/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0794 - accuracy: 0.9662 - val_loss: 1.9163 - val_accuracy: 0.7994
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0797 - accuracy: 0.9663 - val_loss: 1.7614 - val_accuracy: 0.7994
Epoch 68/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0794 - accuracy: 0.9662 - val_loss: 2.7025 - val_accuracy: 0.7974
Epoch 69/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0792 - accuracy: 0.9664 - val_loss: 2.7100 - val_accuracy: 0.7992
Epoch 70/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0791 - accuracy: 0.9669 - val_loss: 2.1039 - val_accuracy: 0.7984
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0789 - accuracy: 0.9668 - val_loss: 2.1166 - val_accuracy: 0.7974
Epoch 72/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0790 - accuracy: 0.9659 - val_loss: 1.9280 - val_accuracy: 0.8002
Epoch 73/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0791 - accuracy: 0.9665 - val_loss: 2.5624 - val_accuracy: 0.7989
Epoch 74/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0788 - accuracy: 0.9669 - val_loss: 1.4698 - val_accuracy: 0.7961
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0793 - accuracy: 0.9669 - val_loss: 3.4398 - val_accuracy: 0.7999
Epoch 76/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0785 - accuracy: 0.9668 - val_loss: 3.3790 - val_accuracy: 0.7989
Epoch 77/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0786 - accuracy: 0.9664 - val_loss: 3.9224 - val_accuracy: 0.7979
Epoch 78/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9667 - val_loss: 4.0673 - val_accuracy: 0.7999
Epoch 79/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0785 - accuracy: 0.9668 - val_loss: 4.5186 - val_accuracy: 0.7976
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0783 - accuracy: 0.9668 - val_loss: 3.5245 - val_accuracy: 0.7997
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0780 - accuracy: 0.9672 - val_loss: 3.5575 - val_accuracy: 0.7992
Epoch 82/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0785 - accuracy: 0.9671 - val_loss: 3.3539 - val_accuracy: 0.7997
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0780 - accuracy: 0.9670 - val_loss: 3.0030 - val_accuracy: 0.7994
Epoch 84/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0782 - accuracy: 0.9669 - val_loss: 3.1269 - val_accuracy: 0.8010
Epoch 85/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9671 - val_loss: 3.4515 - val_accuracy: 0.7971
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9673 - val_loss: 2.3114 - val_accuracy: 0.7979
Epoch 87/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9669 - val_loss: 3.2366 - val_accuracy: 0.7997
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0780 - accuracy: 0.9662 - val_loss: 3.1486 - val_accuracy: 0.7989
Epoch 89/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9671 - val_loss: 3.2833 - val_accuracy: 0.8023
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9669 - val_loss: 2.3482 - val_accuracy: 0.7987
Epoch 91/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0777 - accuracy: 0.9670 - val_loss: 4.4937 - val_accuracy: 0.7987
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0782 - accuracy: 0.9674 - val_loss: 2.9231 - val_accuracy: 0.7999
Epoch 93/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0776 - accuracy: 0.9673 - val_loss: 3.7383 - val_accuracy: 0.8005
Epoch 94/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0776 - accuracy: 0.9672 - val_loss: 2.9053 - val_accuracy: 0.8007
Epoch 95/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0775 - accuracy: 0.9675 - val_loss: 2.9854 - val_accuracy: 0.7984
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0772 - accuracy: 0.9669 - val_loss: 3.6598 - val_accuracy: 0.7994
Epoch 97/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0774 - accuracy: 0.9669 - val_loss: 3.9163 - val_accuracy: 0.7999
Epoch 98/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0773 - accuracy: 0.9671 - val_loss: 3.4487 - val_accuracy: 0.7976
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0777 - accuracy: 0.9669 - val_loss: 4.0829 - val_accuracy: 0.8002
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0773 - accuracy: 0.9667 - val_loss: 3.7266 - val_accuracy: 0.7999

In [112]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7278 - accuracy: 0.7145 - 264ms/epoch - 985us/step
Loss: 0.727810800075531, Accuracy: 0.7145189642906189

### <b>6th Attempt Model Accuracy Does NOT Meet 75% Requirement</b>

In [113]:
# Export our model to HDF5 file
nn.save("Output/Alphabet_Soup_Charity_Optimization_6th_Attempt.h5")